<template>
  <div class="container-fluid clearfix">
    <div id="gfoi-mgd-content" class="v2">
      <div class="mgd-body">
        <header class="page-navigation-bar">
          <table class="page-navigation-layout" style="width: 100%;">
            <tbody>
              <tr>
                <td style="text-align: left; vertical-align: top;">
                  <a
                    class="navigation-link"
                    title="First page: Methods and Guidance from the Global Forest Observations Initiative Edition 2.0"
                    accesskey="S"
                  >
                    <img
                      class="navigation-icon"
                      src="/mgd-content-v2/dita-html/en/res/first.png"
                      alt="First page"
                      width="16"
                      height="16"
                    />
                  </a>
                </td>

                <td style="text-align: left; vertical-align: top;">
                  <a
                    class="navigation-link"
                    title="Previous page: Chapter&nbsp;1&nbsp;&nbsp;&nbsp;Institutional arrangements"
                    accesskey="P"
                  >
                    <img
                      class="navigation-icon"
                      src="/mgd-content-v2/dita-html/en/res/previous.png"
                      alt="Previous page"
                      width="16"
                      height="16"
                    />
                  </a>
                </td>

                <td style="text-align: left; vertical-align: top; width: 25%;">
                  <span class="page-navigation-previous">
                    Chapter&nbsp;1&nbsp;&nbsp;&nbsp;Institutional arrangements
                  </span>
                </td>

                <td
                  style="text-align: center; vertical-align: top; width: 40%;"
                >
                  <span class="page-navigation-current">
                    Chapter&nbsp;1,
                    Section&nbsp;1.1&nbsp;&nbsp;&nbsp;Institutional arrangements
                    and REDD+ decisions
                  </span>

                  <span class="page-navigation-page">
                    (13&nbsp;/&nbsp;109)
                  </span>
                </td>

                <td style="text-align: right; vertical-align: top; width: 25%;">
                  <span class="page-navigation-next">
                    Chapter&nbsp;1,
                    Section&nbsp;1.2&nbsp;&nbsp;&nbsp;Institutions involved in
                    measurement, reporting and verification
                  </span>
                </td>

                <td style="text-align: right; vertical-align: top;">
                  <a
                    class="navigation-link"
                    title="Next page: Chapter&nbsp;1, Section&nbsp;1.2&nbsp;&nbsp;&nbsp;Institutions involved in measurement, reporting and verification"
                    accesskey="N"
                  >
                    <img
                      class="navigation-icon"
                      src="/mgd-content-v2/dita-html/en/res/next.png"
                      alt="Next page"
                      width="16"
                      height="16"
                    />
                  </a>
                </td>

                <td style="text-align: right; vertical-align: top;">
                  <a
                    class="navigation-link"
                    title="Last page: Appendix&nbsp;G&nbsp;&nbsp;&nbsp;Brief review of the potential for estimation of biomass by remote sensing"
                    accesskey="E"
                  >
                    <img
                      class="navigation-icon"
                      src="/mgd-content-v2/dita-html/en/res/last.png"
                      alt="Last page"
                      width="16"
                      height="16"
                    />
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

          <hr class="page-navigation-top-separator" />
        </header>

        <section id="s1_1" class="topic">
          <h2 class="section1-title">
            1.1&nbsp;&nbsp;&nbsp;Institutional arrangements and REDD+ decisions
            <span class="topic-navigation-bar">
              <img
                class="navigation-icon-disabled"
                src="/mgd-content-v2/dita-html/en/res/previous_disabled.png"
                alt="Previous topic"
                title="Previous topic"
                width="16"
                height="16"
              />
              &nbsp;<a
                class="navigation-link"
                title="Parent topic: Chapter&nbsp;1&nbsp;&nbsp;&nbsp;Institutional arrangements"
                accesskey="U"
              >
                <img
                  class="navigation-icon"
                  src="/mgd-content-v2/dita-html/en/res/parent.png"
                  alt="Parent topic"
                  width="16"
                  height="16"
                />
              </a>
              &nbsp;<img
                class="navigation-icon-disabled"
                src="/mgd-content-v2/dita-html/en/res/child_disabled.png"
                alt="Child topic"
                title="Child topic"
                width="16"
                height="16"
              />
              &nbsp;<a
                class="navigation-link"
                title="Next topic: Section&nbsp;1.2&nbsp;&nbsp;&nbsp;Institutions involved in measurement, reporting and verification"
                accesskey="R"
              >
                <img
                  class="navigation-icon"
                  src="/mgd-content-v2/dita-html/en/res/next.png"
                  alt="Next topic"
                  width="16"
                  height="16"
                />
              </a>
            </span>
          </h2>

          <div class="body">
            <div class="p">
              Effective implementation of REDD+ activities requires sound
              institutional arrangements to support requirements set out in COP
              decisions<a>
                <sup class="fn-callout"> (1)</sup>
              </a>
              concerning (i) a national strategy or action plan; (ii) a national
              forest reference emission level and/or forest reference level
              (FREL/FRL); (iii) a robust and transparent NFMS<sup class="sup">
                <span class="ph">
                  <a>
                    <sup class="fn-callout"> (2)</sup>
                  </a>
                </span>
              </sup>

              to meet MRV requirements for REDD+; and (iv) a system for
              providing information on safeguards<a class="fn-link">
                <sup class="fn-callout"> (3)</sup>
              </a>
              .
            </div>

            <div class="p">
              The first step is the development of a long-term vision and a
              strategic plan, with clear institutional mandates and
              specification of roles and effective coordination mechanisms.
              Thorough processes should be established for collecting,
              processing, reporting and verifying data, based on methodologies
              and tools which recognise the need for adequate and sustainable
              human resource arrangements (<a> Box 1</a>
              ).
            </div>

            <div class="p">
              In creating institutional arrangements to carry out the long-term
              vision and strategic plan, countries should build upon existing
              arrangements, such as those developed for greenhouse gas
              inventories (GHGI) that underpin National Communications. Building
              on and strengthening existing institutional arrangements in
              establishing a NMFS for REDD+ will reduce duplication of effort
              and costs, facilitate use of official data sources, avoid
              institutional conflicts and help maximise co-benefits and
              consistency in reporting.
            </div>

            <div class="p">
              An NFMS has two simultaneous functions; a monitoring function and
              an MRV function<a>
                <sup class="fn-callout"> (4)</sup>
              </a>
              :
            </div>

            <ol class="ol">
              <li class="li">
                <div>
                  <b class="b"> Monitoring function</b>
                  - refers to a domestic tool that allows countries to assess a
                  broad range of forest information including information
                  specific to REDD+. Many forest-related monitoring tools
                  already exist; it is important to build on existing tools, as
                  appropriate, and to harmonize existing and new tools for
                  forest monitoring for REDD+.
                </div>
              </li>

              <li class="li">
                <div>
                  <b class="b"> MRV function</b>
                  - refers to the estimation and international reporting of
                  national-scale forest emission and removals for REDD+ drawing
                  from information collected through the NFMS.
                </div>
              </li>
            </ol>

            <div class="p">
              The UNFCCC has decided that a NFMS should<sup class="sup">
                <span class="ph">
                  <a>
                    <sup class="fn-callout"> (5)</sup>
                  </a>
                </span>
              </sup>
              :
            </div>

            <ul class="ul">
              <li class="li">
                <div>
                  build upon existing systems, as appropriate;
                </div>
              </li>

              <li class="li">
                <div>
                  enable the assessment of different types of forest (as
                  relevant to the country’s elected definition of forest) in the
                  country, including natural forest, as defined by a country;
                </div>
              </li>

              <li class="li">
                <div>
                  be flexible and allow for improvement;
                </div>
              </li>

              <li class="li">
                <div>
                  reflect, as appropriate, the phased approach for the
                  implementation of REDD+ activities.
                </div>
              </li>
            </ul>

            <div class="p">
              Well-established arrangements that can deliver the MRV functions
              of an NFMS and be consistent with the above requirements can
              strengthen the design and evaluation of policies and actions,
              consistent with sound forest policy and governance (<a
                class="xref"
              >
                Box 2</a
              >
              ). This will increase transparency in GHG reporting, facilitate
              financing, and lead to the quantification and reporting of
              mitigation actions in terms of emissions reductions and
              potentially other non-GHG impacts.
            </div>

            <section id="s1_1__I_743v23_" class="example">
              <h3 id="s1_1__Box1" class="example-title">
                Box 1: Institutional arrangements
              </h3>

              <div class="p">
                The United Nations Development Programme (UNDP)<sup class="sup">
                  1</sup
                >

                describes institutional arrangements as being policies, systems,
                and processes that organizations (including governments) use to
                legislate, plan and manage their activities efficiently and
                coordinate with others in order to fulfil respective mandates.
              </div>

              <div class="p">
                Institutional arrangements encompass the responsible
                organisations, their human resources, funding, equipment and
                supplies, leadership, effectiveness, and the communication links
                within and among organisations. Institutional arrangements
                support countries in translating complex technical findings into
                methodologically information that can be used for policy
                relevant purposes.
              </div>

              <div class="p">
                The UNFCCC has published a
                <a class="xref" target="_blank">
                  Toolkit
                  <img
                    style="border-style: none;"
                    src="/mgd-content-v2/dita-html/en/res/new_window.png"
                    alt="Opens in new window"
                    width="11"
                    height="10"
                  />
                </a>
                <sup class="sup"> 2</sup>
                for non-Annex I countries on establishing and maintaining
                institutional arrangements for preparing national communications
                and biennial update reports. Though not specific to REDD+, the
                overall advice is relevant and important. These include that
                national institutional arrangements should help individual
                Parties ensure that nationally appropriate procedures for
                collecting, processing, reporting and archiving required data
                and information are established, and that relevant stakeholders
                from the public and private sectors are involved in meeting the
                reporting requirements of the Convention, as well as addressing
                the broader issue of climate change at the national level.
              </div>

              <div class="p">
                In particular, institutional arrangements can assist Parties to:
              </div>

              <div class="p">
                a) Meet reporting requirements under the Convention;
              </div>

              <div class="p">
                b) Develop and build national capacities and ensure
                sustainability and consistency of reporting processes
              </div>

              <div class="p">
                c) Inform national and international policymakers, at different
                levels
              </div>

              <div class="p">
                d) Assist in institutionalizing activities relating to reporting
                on climate change
              </div>

              <div class="p">
                Building effective sustainable institutional arrangements
                encompasses three key elements:
              </div>

              <div class="p">
                <b class="b"> 1. Institutions:</b>
                Defining which institutions are involved in domestic MRV
                activities and what their respective roles and responsibilities
                are and how they should interact, how to intervene in case of
                challenges and who bears overall responsibility.
              </div>

              <div class="p">
                <b class="b"> 2. Processes:</b>
                Defining the overall process of collecting, processing,
                reporting and verifying data. This includes determining which
                role individual institutions play within this process.
              </div>

              <div class="p">
                <b class="b"> 3. Methodologies and tools:</b>
                Identifying which methodologies and tools are required to
                collect, process and store data.
              </div>

              <div class="p">
                Sources:
              </div>

              <div class="p">
                <span class="ph"> 1. </span>
                <a class="xref" target="_blank">
                  UNDP website has a range of resources on advice and
                  experiences of establishing institutional arrangements
                  <img
                    style="border-style: none;"
                    src="/mgd-content-v2/dita-html/en/res/new_window.png"
                    alt="Opens in new window"
                    width="11"
                    height="10"
                  />
                </a>
              </div>

              <div class="p">
                <span class="ph"> 2. </span>
                <a class="xref" target="_blank">
                  UNFCCC Toolkit for non-Annex I countries - establishing and
                  maintaining institutional arrangements for a preparing
                  national communications and biennial update reports
                  <img
                    style="border-style: none;"
                    src="/mgd-content-v2/dita-html/en/res/new_window.png"
                    alt="Opens in new window"
                    width="11"
                    height="10"
                  />
                </a>
              </div>
            </section>

            <section id="s1_1__I_ii6btm_" class="example">
              <h3 id="s1_1__Box2" class="example-title">
                Box 2: Forest policy and governance
              </h3>

              <div class="p">
                Institutional arrangements can strengthen the national
                policymaking process by enhancing coordination of all relevant
                stakeholders and by facilitating consultations and establishing
                relationships among technical and policy officials.
              </div>

              <div class="p">
                Prior to developing the MRV function for REDD+ activities, a
                country should identify national and regional development
                priorities and objectives that would serve as the basis for
                addressing REDD+ and climate change. This could involve
                strengthening forest governance (including law
                enforcement);developing measures to counter deforestation and
                forest degradation; and enhancing sustainable forest management
                through consideration of the multiple functions of forests (for
                example by considering both climate change mitigation and
                adaptation benefits). This process can lead to increased
                understanding of existing national challenges and available
                options for addressing GHG emissions and removals from REDD+
                within the broader context of sustainable management of forests.
              </div>
            </section>
          </div>
        </section>

        <hr class="footnote-separator" />

        <table class="fn-layout">
          <tbody>
            <tr>
              <td style="vertical-align: baseline;">
                &nbsp;<sup class="fn-callout"> (1)</sup>
              </td>

              <td id="I_d1591e8_" style="vertical-align: baseline;" class="fn">
                <div class="p">
                  <a class="xref"> Chapter&nbsp;2, Section&nbsp;2.1</a>
                  provides an extended summary of relevant COP decisions
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="fn-layout">
          <tbody>
            <tr>
              <td style="vertical-align: baseline;">
                &nbsp;<sup class="fn-callout"> (2)</sup>
              </td>

              <td id="I_d1591e16_" style="vertical-align: baseline;" class="fn">
                <div class="p">
                  Or subnational monitoring arrangements as an interim measure
                  see
                  <a class="xref" target="_blank">
                    decision 1/CP.16, paragraph 71
                    <img
                      style="border-style: none;"
                      src="/mgd-content-v2/dita-html/en/res/new_window.png"
                      alt="Opens in new window"
                      width="11"
                      height="10"
                    />
                  </a>
                  .
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="fn-layout">
          <tbody>
            <tr>
              <td style="vertical-align: baseline;">
                &nbsp;<sup class="fn-callout"> (3)</sup>
              </td>

              <td id="I_d1591e23_" style="vertical-align: baseline;" class="fn">
                <div class="p">
                  As specified in
                  <a class="xref" target="_blank">
                    decision <span class="ph"> 1/CP.16, paragraph 71</span>

                    <img
                      style="border-style: none;"
                      src="/mgd-content-v2/dita-html/en/res/new_window.png"
                      alt="Opens in new window"
                      width="11"
                      height="10"
                    />
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="fn-layout">
          <tbody>
            <tr>
              <td style="vertical-align: baseline;">
                &nbsp;<sup class="fn-callout"> (4)</sup>
              </td>

              <td id="I_d1591e40_" style="vertical-align: baseline;" class="fn">
                <div class="p">
                  <a class="xref" target="_blank">
                    National Forest-Monitoring Systems: Measurement, Reporting
                    and Verification (M &amp; MRV) in the Context of REDD+
                    Activities. Rome: Food and Agricultural Organization
                    <img
                      style="border-style: none;"
                      src="/mgd-content-v2/dita-html/en/res/new_window.png"
                      alt="Opens in new window"
                      width="11"
                      height="10"
                    />
                  </a>
                  .
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="fn-layout">
          <tbody>
            <tr>
              <td style="vertical-align: baseline;">
                &nbsp;<sup class="fn-callout"> (5)</sup>
              </td>

              <td id="I_d1591e60_" style="vertical-align: baseline;" class="fn">
                <div class="p">
                  As specified in
                  <a class="xref" target="_blank">
                    decision 11/CP.19
                    <img
                      style="border-style: none;"
                      src="/mgd-content-v2/dita-html/en/res/new_window.png"
                      alt="Opens in new window"
                      width="11"
                      height="10"
                    />
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <footer class="page-navigation-bar">
          <hr class="page-navigation-bottom-separator" />

          <table class="page-navigation-layout" style="width: 100%;">
            <tbody>
              <tr>
                <td style="text-align: left; vertical-align: top;">
                  <a
                    class="navigation-link"
                    title="First page: Methods and Guidance from the Global Forest Observations Initiative Edition 2.0"
                    accesskey="S"
                  >
                    <img
                      class="navigation-icon"
                      src="/mgd-content-v2/dita-html/en/res/first.png"
                      alt="First page"
                      width="16"
                      height="16"
                    />
                  </a>
                </td>

                <td style="text-align: left; vertical-align: top;">
                  <a
                    class="navigation-link"
                    title="Previous page: Chapter&nbsp;1&nbsp;&nbsp;&nbsp;Institutional arrangements"
                    accesskey="P"
                  >
                    <img
                      class="navigation-icon"
                      src="/mgd-content-v2/dita-html/en/res/previous.png"
                      alt="Previous page"
                      width="16"
                      height="16"
                    />
                  </a>
                </td>

                <td style="text-align: left; vertical-align: top; width: 25%;">
                  <span class="page-navigation-previous">
                    Chapter&nbsp;1&nbsp;&nbsp;&nbsp;Institutional arrangements
                  </span>
                </td>

                <td
                  style="text-align: center; vertical-align: top; width: 40%;"
                >
                  <span class="page-navigation-current">
                    Chapter&nbsp;1,
                    Section&nbsp;1.1&nbsp;&nbsp;&nbsp;Institutional arrangements
                    and REDD+ decisions
                  </span>

                  <span class="page-navigation-page">
                    (13&nbsp;/&nbsp;109)
                  </span>
                </td>

                <td style="text-align: right; vertical-align: top; width: 25%;">
                  <span class="page-navigation-next">
                    Chapter&nbsp;1,
                    Section&nbsp;1.2&nbsp;&nbsp;&nbsp;Institutions involved in
                    measurement, reporting and verification
                  </span>
                </td>

                <td style="text-align: right; vertical-align: top;">
                  <a
                    class="navigation-link"
                    title="Next page: Chapter&nbsp;1, Section&nbsp;1.2&nbsp;&nbsp;&nbsp;Institutions involved in measurement, reporting and verification"
                    accesskey="N"
                  >
                    <img
                      class="navigation-icon"
                      src="/mgd-content-v2/dita-html/en/res/next.png"
                      alt="Next page"
                      width="16"
                      height="16"
                    />
                  </a>
                </td>

                <td style="text-align: right; vertical-align: top;">
                  <a
                    class="navigation-link"
                    title="Last page: Appendix&nbsp;G&nbsp;&nbsp;&nbsp;Brief review of the potential for estimation of biomass by remote sensing"
                    accesskey="E"
                  >
                    <img
                      class="navigation-icon"
                      src="/mgd-content-v2/dita-html/en/res/last.png"
                      alt="Last page"
                      width="16"
                      height="16"
                    />
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </footer>
      </div>
    </div>
  </div>
</template>
