<template>
  <v-container class="mgd-theme">
    <v-row class="nav navbar-nav text-center">
      <v-col class="IA active">
        <a>Institutional Arrangements</a>
        <div class="theme-strip" />
      </v-col>
      <v-col class="PD ">
        <a>Pov-colcy + Design Decisions</a>
        <div class="theme-strip" />
      </v-col>
      <v-col class="ME ">
        <a>Measurement + Estimation</a>
        <div class="theme-strip" />
      </v-col>
      <v-col class="RV ">
        <a>Reporting + Verification</a>
        <div class="theme-strip" />
      </v-col>
    </v-row>
    <v-row class="mgd-related-nav">
      <v-col class="IA col-sm-3">
        <ul class="list-unstyled">
          <li>
            <a>Forest Policy + Governance</a>
          </li>
          <li>
            <a>Methods + Tools</a>
          </li>
          <li>
            <a>MRV Institutions</a>
          </li>
          <li>
            <a>Processes</a>
          </li>
        </ul>
      </v-col>
      <v-col class="PD col-sm-3">
        <ul class="list-unstyled">
          <li>
            <a>Approaches, Methods + Tiers</a>
          </li>
          <li>
            <a>Carbon Pools</a>
          </li>
          <li>
            <a>Forest Definition</a>
          </li>
          <li>
            <a>LULC Stratification Scheme</a>
          </li>
          <li>
            <a>REDD+ Activities</a>
          </li>
          <li>
            <a>Spatial + Temporal Scope</a>
          </li>
        </ul>
      </v-col>
      <v-col class="ME col-sm-3">
        <ul class="list-unstyled">
          <li>
            <a>Record Keeping</a>
          </li>
          <li>
            <a>Ground Based Observations</a>
          </li>
          <li>
            <a>Integration + Estimation</a>
          </li>
          <li>
            <a>Remote Sensing Observations</a>
          </li>
          <li>
            <a>Uncertainty</a>
          </li>
        </ul>
      </v-col>
      <v-col class="RV col-sm-3">
        <ul class="list-unstyled">
          <li>
            <a>AFOLU GHG Inventory Reporting</a>
          </li>
          <li>
            <a>Internal + External Analysis</a>
          </li>
          <li>
            <a>Non-carbon Related Reporting</a>
          </li>
          <li>
            <a>REDD+ Reporting</a>
          </li>
          <li>
            <a>Reference Emission Levels</a>
          </li>
        </ul>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <h4 class="panel-title">
          <a
            class="collapsed"
            data-toggle="collapse"
            data-parent="#accordion1"
            aria-epanded="false"
          >
            <i class="fa fa-minus-circle icon-expanded" />
            <i class="fa fa-plus-circle icon-collapsed" />
            Related Concepts (Marked as<i class="fa fa-link" />
            )
          </a>
        </h4>
      </v-col>
    </v-row>
  </v-container>
</template>

<style lang="scss">
.mgd-related-nav {
  align-items: stretch;
  height: 100%;

  > .col {
    height: 100%;
  }
}

.parent {
  display: flex;
  // height: 100%;
}

.child--featured {
  align-self: flex-start;
}

.list-unstyled {
  list-style: none outside none;
  margin: 0 0 10px;
  padding: 0;

  :after {
    box-sizing: border-box;
    list-style: none outside none;
  }

  :before {
    box-sizing: border-box;
    list-style: none outside none;
  }
}

.list-unstyled li {
  box-sizing: border-box;
  list-style: none outside none;
  margin: 2px;
  padding: 7px 12px;

  :after {
    box-sizing: border-box;
    list-style: none outside none;
  }

  :before {
    box-sizing: border-box;
    list-style: none outside none;
  }
}

.list-unstyled li a {
  border: 0 none rgb(0, 0, 0);
  box-sizing: border-box;
  caret-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  column-rule-color: rgb(0, 0, 0);
  list-style: none outside none;
  outline: rgb(0, 0, 0) none 0;
  text-align: left;
  text-decoration: none solid rgb(0, 0, 0);

  :after {
    border: 0 none rgb(0, 0, 0);
    box-sizing: border-box;
    caret-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    column-rule-color: rgb(0, 0, 0);
    list-style: none outside none;
    outline: rgb(0, 0, 0) none 0;
    text-align: left;
    text-decoration: none solid rgb(0, 0, 0);
  }

  :before {
    border: 0 none rgb(0, 0, 0);
    box-sizing: border-box;
    caret-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    column-rule-color: rgb(0, 0, 0);
    list-style: none outside none;
    outline: rgb(0, 0, 0) none 0;
    text-align: left;
    text-decoration: none solid rgb(0, 0, 0);
  }
}

.mgd-theme nav.navbar-nav {
  border: 0 none rgb(123, 123, 123);
  box-sizing: border-box;
  caret-color: rgb(123, 123, 123);
  color: rgb(123, 123, 123);
  column-rule-color: rgb(123, 123, 123);
  list-style: none outside none;
  margin: 0;
  outline: rgb(123, 123, 123) none 0;
  padding: 0;
  text-align: center;
  text-decoration: none solid rgb(123, 123, 123);

  :after {
    border: 0 none rgb(123, 123, 123);
    box-sizing: border-box;
    caret-color: rgb(123, 123, 123);
    clear: both;
    color: rgb(123, 123, 123);
    column-rule-color: rgb(123, 123, 123);
    content: '"' '"';
    display: table;
    height: 0;
    list-style: none outside none;
    outline: rgb(123, 123, 123) none 0;
    perspective-origin: 0 0;
    text-align: center;
    text-decoration: none solid rgb(123, 123, 123);
    transform-origin: 0 0;
    width: 0;
  }

  :before {
    border: 0 none rgb(123, 123, 123);
    box-sizing: border-box;
    caret-color: rgb(123, 123, 123);
    color: rgb(123, 123, 123);
    column-rule-color: rgb(123, 123, 123);
    content: '"' '"';
    display: table;
    height: 0;
    list-style: none outside none;
    outline: rgb(123, 123, 123) none 0;
    perspective-origin: 0 0;
    text-align: center;
    text-decoration: none solid rgb(123, 123, 123);
    transform-origin: 0 0;
    width: 0;
  }

  .col {
    border: 0 none rgb(123, 123, 123);
    bottom: 0;
    box-sizing: border-box;
    caret-color: rgb(123, 123, 123);
    color: rgb(123, 123, 123);
    column-rule-color: rgb(123, 123, 123);
    display: block;
    float: left;
    height: 54px;
    left: 0;
    list-style: none outside none;
    outline: rgb(123, 123, 123) none 0;
    perspective-origin: 110.375px 27px;
    position: relative;
    right: 0;
    text-align: center;
    text-decoration: none solid rgb(123, 123, 123);
    top: 0;
    transform-origin: 110.375px 27px;
    width: 220.75px;

    :after {
      border: 0 none rgb(123, 123, 123);
      box-sizing: border-box;
      caret-color: rgb(123, 123, 123);
      color: rgb(123, 123, 123);
      column-rule-color: rgb(123, 123, 123);
      list-style: none outside none;
      outline: rgb(123, 123, 123) none 0;
      text-align: center;
      text-decoration: none solid rgb(123, 123, 123);
    }

    :before {
      border: 0 none rgb(123, 123, 123);
      box-sizing: border-box;
      caret-color: rgb(123, 123, 123);
      color: rgb(123, 123, 123);
      column-rule-color: rgb(123, 123, 123);
      list-style: none outside none;
      outline: rgb(123, 123, 123) none 0;
      text-align: center;
      text-decoration: none solid rgb(123, 123, 123);
    }
  }
}
</style>
