<template>
  <div class="container mgd-theme">
    <div class="row">
      <div class="col-md-3 IA">
        <!-- IA Theme item link -->
        <a href="" />
        <div class="portfolio-item">
          <a href="" />
          <div class="info boxed-content">
            <a href="">
              <h4 class="title">Institutional Arrangements</h4>
              <p class="brief-description">
                Click to discover related methods and guidance and supporting
                resources
              </p> </a
            ><a href="">read more</a>
          </div>
          <div class="media-wrapper boxed-content">
            <h2 class="hero-headingtitle one-columntext-center">
              Institutional Arrangements
            </h2>
            <div class="theme-strip" />
          </div>
        </div>
        <!-- END IA Theme item link -->
      </div>
      <div class="col-md-3 PD">
        <!-- PD Theme item link -->
        <a href="" />
        <div class="portfolio-item">
          <a href="" />
          <div class="info boxed-content">
            <a href="">
              <h4 class="title">Policy + Design Decisions</h4>
              <p class="brief-description">
                Click to discover related methods and guidance and supporting
                resources
              </p> </a
            ><a href="">read more</a>
          </div>
          <div class="media-wrapper boxed-content">
            <h2 class="hero-headingtitle one-columntext-center">
              Policy + Design Decisions
            </h2>
            <div class="theme-strip" />
          </div>
        </div>
        <!-- END PD Theme item link -->
      </div>
      <div class="col-md-3 ME">
        <!-- ME Theme item link -->
        <a href="" />
        <div class="portfolio-item">
          <a href="" />
          <div class="info boxed-content">
            <a href="">
              <h4 class="title">Measurement + Estimation</h4>
              <p class="brief-description">
                Click to discover related methods and guidance and supporting
                resources
              </p> </a
            ><a href="">read more</a>
          </div>
          <div class="media-wrapper boxed-content">
            <h2 class="hero-headingtitle one-columntext-center">
              Measurement + Estimation
            </h2>
            <div class="theme-strip" />
          </div>
        </div>
        <!-- END ME Theme item link -->
      </div>
      <div class="col-md-3 RV">
        <!-- RV Theme item link -->
        <a href="" />
        <div class="portfolio-item">
          <a href="" />
          <div class="info boxed-content">
            <a href="">
              <h4 class="title">Reporting + Verification</h4>
              <p class="brief-description">
                Click to discover related methods and guidance and supporting
                resources
              </p> </a
            ><a href="">read more</a>
          </div>
          <div class="media-wrapper boxed-content">
            <h2 class="hero-headingtitle one-columntext-center">
              Reporting + Verification
            </h2>
            <div class="theme-strip" />
          </div>
        </div>
        <!-- END RV Theme item link -->
      </div>
    </div>
  </div>
</template>
<style lang="scss">
.mgd-theme > div > div.IA {
  border: 0 none rgb(123, 123, 123);
  bottom: 0;
  box-sizing: border-box;
  caret-color: rgb(123, 123, 123);
  color: rgb(123, 123, 123);
  column-rule-color: rgb(123, 123, 123);
  float: left;
  font: normal normal 400 normal 13px / 20.8px 'Open Sans', sans-serif;
  height: 156px;
  left: 0;
  min-height: 1px;
  outline: rgb(123, 123, 123) none 0;
  padding: 0 15px;
  perspective-origin: 121.25px 78px;
  position: relative;
  right: 0;
  text-decoration: none solid rgb(123, 123, 123);
  top: 0;
  transform-origin: 121.25px 78px;
  width: 242.5px;

  :after {
    border: 0 none rgb(123, 123, 123);
    box-sizing: border-box;
    caret-color: rgb(123, 123, 123);
    color: rgb(123, 123, 123);
    column-rule-color: rgb(123, 123, 123);
    font: normal normal 400 normal 13px / 20.8px 'Open Sans', sans-serif;
    outline: rgb(123, 123, 123) none 0;
    text-decoration: none solid rgb(123, 123, 123);
  }

  :before {
    border: 0 none rgb(123, 123, 123);
    box-sizing: border-box;
    caret-color: rgb(123, 123, 123);
    color: rgb(123, 123, 123);
    column-rule-color: rgb(123, 123, 123);
    font: normal normal 400 normal 13px / 20.8px 'Open Sans', sans-serif;
    outline: rgb(123, 123, 123) none 0;
    text-decoration: none solid rgb(123, 123, 123);
  }
}

#A_2 {
  border: 0 none rgb(64, 109, 164);
  box-sizing: border-box;
  caret-color: rgb(64, 109, 164);
  color: rgb(64, 109, 164);
  column-rule-color: rgb(64, 109, 164);
  font: normal normal 400 normal 13px / 20.8px 'Open Sans', sans-serif;
  outline: rgb(64, 109, 164) none 0;
  perspective-origin: 0 0;
  text-decoration: none solid rgb(64, 109, 164);
  transform-origin: 0 0;

  :after {
    border: 0 none rgb(64, 109, 164);
    box-sizing: border-box;
    caret-color: rgb(64, 109, 164);
    color: rgb(64, 109, 164);
    column-rule-color: rgb(64, 109, 164);
    font: normal normal 400 normal 13px / 20.8px 'Open Sans', sans-serif;
    outline: rgb(64, 109, 164) none 0;
    text-decoration: none solid rgb(64, 109, 164);
  }

  :before {
    border: 0 none rgb(64, 109, 164);
    box-sizing: border-box;
    caret-color: rgb(64, 109, 164);
    color: rgb(64, 109, 164);
    column-rule-color: rgb(64, 109, 164);
    font: normal normal 400 normal 13px / 20.8px 'Open Sans', sans-serif;
    outline: rgb(64, 109, 164) none 0;
    text-decoration: none solid rgb(64, 109, 164);
  }
}

#DIV_3 {
  border: 0 none rgb(123, 123, 123);
  bottom: 0;
  box-sizing: border-box;
  caret-color: rgb(123, 123, 123);
  color: rgb(123, 123, 123);
  column-rule-color: rgb(123, 123, 123);
  font: normal normal 400 normal 13px / 20.8px 'Open Sans', sans-serif;
  height: 121px;
  left: 0;
  outline: rgb(123, 123, 123) none 0;
  perspective-origin: 106.25px 60.5px;
  position: relative;
  right: 0;
  text-decoration: none solid rgb(123, 123, 123);
  top: 0;
  transform-origin: 106.25px 60.5px;
  width: 212.5px;
} /* #DIV_3 */

#DIV_3:after {
  border: 0 none rgb(123, 123, 123);
  box-sizing: border-box;
  caret-color: rgb(123, 123, 123);
  color: rgb(123, 123, 123);
  column-rule-color: rgb(123, 123, 123);
  font: normal normal 400 normal 13px / 20.8px 'Open Sans', sans-serif;
  outline: rgb(123, 123, 123) none 0;
  text-decoration: none solid rgb(123, 123, 123);
} /* #DIV_3:after */

#DIV_3:before {
  border: 0 none rgb(123, 123, 123);
  box-sizing: border-box;
  caret-color: rgb(123, 123, 123);
  color: rgb(123, 123, 123);
  column-rule-color: rgb(123, 123, 123);
  font: normal normal 400 normal 13px / 20.8px 'Open Sans', sans-serif;
  outline: rgb(123, 123, 123) none 0;
  text-decoration: none solid rgb(123, 123, 123);
} /* #DIV_3:before */

#A_4 {
  border: 0 none rgb(255, 255, 255);
  box-sizing: border-box;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  column-rule-color: rgb(255, 255, 255);
  font: normal normal 400 normal 13px / 20.8px 'Open Sans', sans-serif;
  outline: rgb(255, 255, 255) none 0;
  perspective-origin: 0 0;
  text-decoration: none solid rgb(255, 255, 255);
  transform-origin: 0 0;
} /* #A_4 */

#A_4:after {
  border: 0 none rgb(255, 255, 255);
  box-sizing: border-box;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  column-rule-color: rgb(255, 255, 255);
  font: normal normal 400 normal 13px / 20.8px 'Open Sans', sans-serif;
  outline: rgb(255, 255, 255) none 0;
  text-decoration: none solid rgb(255, 255, 255);
} /* #A_4:after */

#A_4:before {
  border: 0 none rgb(255, 255, 255);
  box-sizing: border-box;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  column-rule-color: rgb(255, 255, 255);
  font: normal normal 400 normal 13px / 20.8px 'Open Sans', sans-serif;
  outline: rgb(255, 255, 255) none 0;
  text-decoration: none solid rgb(255, 255, 255);
} /* #A_4:before */

#DIV_5 {
  background: rgb(147, 180, 156) none repeat scroll 0% 0% / auto padding-box
    border-box;
  border: 0 none rgb(255, 255, 255);
  bottom: 0;
  box-sizing: border-box;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  column-rule-color: rgb(255, 255, 255);
  cursor: pointer;
  font: normal normal 400 normal 13px / 20.8px 'Open Sans', sans-serif;
  height: 121px;
  left: 0;
  outline: rgb(255, 255, 255) none 0;
  perspective-origin: 106.25px 60.5px;
  position: absolute;
  right: 0;
  text-decoration: none solid rgb(255, 255, 255);
  top: 0;
  transform-origin: 106.25px 60.5px;
  transition: all 0.2s ease-out 0s;
  width: 212.5px;
  z-index: 1;
} /* #DIV_5 */

#DIV_5:after {
  border: 0 none rgb(255, 255, 255);
  box-sizing: border-box;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  column-rule-color: rgb(255, 255, 255);
  cursor: pointer;
  font: normal normal 400 normal 13px / 20.8px 'Open Sans', sans-serif;
  outline: rgb(255, 255, 255) none 0;
  text-decoration: none solid rgb(255, 255, 255);
} /* #DIV_5:after */

#DIV_5:before {
  border: 0 none rgb(255, 255, 255);
  box-sizing: border-box;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  column-rule-color: rgb(255, 255, 255);
  cursor: pointer;
  font: normal normal 400 normal 13px / 20.8px 'Open Sans', sans-serif;
  outline: rgb(255, 255, 255) none 0;
  text-decoration: none solid rgb(255, 255, 255);
} /* #DIV_5:before */

#DIV_6 {
  border: 0 none rgb(255, 255, 255);
  bottom: -60.5px;
  box-sizing: border-box;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  column-rule-color: rgb(255, 255, 255);
  font: normal normal 400 normal 13px / 20.8px 'Open Sans', sans-serif;
  height: 135px;
  left: 0;
  margin: -49px 0 35px;
  outline: rgb(255, 255, 255) none 0;
  perspective-origin: 106.25px 67.5px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none solid rgb(255, 255, 255);
  top: 60.5px;
  transform-origin: 106.25px 67.5px;
  transition: all 0.2s ease-out 0s;
  width: 212.5px;
  z-index: 1;
} /* #DIV_6 */

#DIV_6:after {
  border: 0 none rgb(255, 255, 255);
  box-sizing: border-box;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  column-rule-color: rgb(255, 255, 255);
  font: normal normal 400 normal 13px / 20.8px 'Open Sans', sans-serif;
  outline: rgb(255, 255, 255) none 0;
  text-align: center;
  text-decoration: none solid rgb(255, 255, 255);
} /* #DIV_6:after */

#DIV_6:before {
  border: 0 none rgb(255, 255, 255);
  box-sizing: border-box;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  column-rule-color: rgb(255, 255, 255);
  font: normal normal 400 normal 13px / 20.8px 'Open Sans', sans-serif;
  outline: rgb(255, 255, 255) none 0;
  text-align: center;
  text-decoration: none solid rgb(255, 255, 255);
} /* #DIV_6:before */

#A_7 {
  border: 0 none rgb(255, 255, 255);
  box-sizing: border-box;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  column-rule-color: rgb(255, 255, 255);
  font: normal normal 400 normal 13px / 20.8px 'Open Sans', sans-serif;
  outline: rgb(255, 255, 255) none 0;
  perspective-origin: 0 0;
  text-align: center;
  text-decoration: none solid rgb(255, 255, 255);
  transform-origin: 0 0;
} /* #A_7 */

#A_7:after {
  border: 0 none rgb(255, 255, 255);
  box-sizing: border-box;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  column-rule-color: rgb(255, 255, 255);
  font: normal normal 400 normal 13px / 20.8px 'Open Sans', sans-serif;
  outline: rgb(255, 255, 255) none 0;
  text-align: center;
  text-decoration: none solid rgb(255, 255, 255);
} /* #A_7:after */

#A_7:before {
  border: 0 none rgb(255, 255, 255);
  box-sizing: border-box;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  column-rule-color: rgb(255, 255, 255);
  font: normal normal 400 normal 13px / 20.8px 'Open Sans', sans-serif;
  outline: rgb(255, 255, 255) none 0;
  text-align: center;
  text-decoration: none solid rgb(255, 255, 255);
} /* #A_7:before */

#H4_8 {
  border: 0 none rgb(255, 255, 255);
  box-sizing: border-box;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  column-rule-color: rgb(255, 255, 255);
  cursor: pointer;
  font: normal normal 700 normal 18px / 19.8px 'Open Sans', sans-serif;
  height: 38px;
  margin: 5px 0 10px;
  outline: rgb(255, 255, 255) none 0;
  perspective-origin: 106.25px 19px;
  text-align: center;
  text-decoration: none solid rgb(255, 255, 255);
  transform-origin: 106.25px 19px;
  width: 212.5px;
} /* #H4_8 */

#H4_8:after {
  border: 0 none rgb(255, 255, 255);
  box-sizing: border-box;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  column-rule-color: rgb(255, 255, 255);
  cursor: pointer;
  font: normal normal 700 normal 18px / 19.8px 'Open Sans', sans-serif;
  outline: rgb(255, 255, 255) none 0;
  text-align: center;
  text-decoration: none solid rgb(255, 255, 255);
} /* #H4_8:after */

#H4_8:before {
  border: 0 none rgb(255, 255, 255);
  box-sizing: border-box;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  column-rule-color: rgb(255, 255, 255);
  cursor: pointer;
  font: normal normal 700 normal 18px / 19.8px 'Open Sans', sans-serif;
  outline: rgb(255, 255, 255) none 0;
  text-align: center;
  text-decoration: none solid rgb(255, 255, 255);
} /* #H4_8:before */

#P_9 {
  border: 0 none rgb(255, 255, 255);
  box-sizing: border-box;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  column-rule-color: rgb(255, 255, 255);
  cursor: pointer;
  font: normal normal 300 normal 12px / 19.2px 'Open Sans', sans-serif;
  height: 38px;
  margin: 0 0 10px;
  outline: rgb(255, 255, 255) none 0;
  perspective-origin: 106.25px 19px;
  text-align: center;
  text-decoration: none solid rgb(255, 255, 255);
  transform-origin: 106.25px 19px;
  width: 212.5px;
} /* #P_9 */

#P_9:after {
  border: 0 none rgb(255, 255, 255);
  box-sizing: border-box;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  column-rule-color: rgb(255, 255, 255);
  cursor: pointer;
  font: normal normal 300 normal 12px / 19.2px 'Open Sans', sans-serif;
  outline: rgb(255, 255, 255) none 0;
  text-align: center;
  text-decoration: none solid rgb(255, 255, 255);
} /* #P_9:after */

#P_9:before {
  border: 0 none rgb(255, 255, 255);
  box-sizing: border-box;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  column-rule-color: rgb(255, 255, 255);
  cursor: pointer;
  font: normal normal 300 normal 12px / 19.2px 'Open Sans', sans-serif;
  outline: rgb(255, 255, 255) none 0;
  text-align: center;
  text-decoration: none solid rgb(255, 255, 255);
} /* #P_9:before */

#A_10 {
  background: rgb(156, 186, 164) none repeat scroll 0% 0% / auto padding-box
    border-box;
  border: 1px solid rgb(132, 170, 142);
  border-radius: 2px;
  box-sizing: border-box;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  column-rule-color: rgb(255, 255, 255);
  display: inline-block;
  font: normal normal 700 normal 14px / 20px 'Open Sans', sans-serif;
  height: 34px;
  outline: rgb(255, 255, 255) none 0;
  padding: 6px 12px;
  perspective-origin: 49px 17px;
  text-align: center;
  text-decoration: none solid rgb(255, 255, 255);
  touch-action: manipulation;
  transform-origin: 49px 17px;
  transition: all 0.2s ease-in-out 0s;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 98px;
} /* #A_10 */

#A_10:after {
  border: 0 none rgb(255, 255, 255);
  box-sizing: border-box;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  column-rule-color: rgb(255, 255, 255);
  font: normal normal 700 normal 14px / 20px 'Open Sans', sans-serif;
  outline: rgb(255, 255, 255) none 0;
  text-align: center;
  text-decoration: none solid rgb(255, 255, 255);
  user-select: none;
  white-space: nowrap;
} /* #A_10:after */

#A_10:before {
  border: 0 none rgb(255, 255, 255);
  box-sizing: border-box;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  column-rule-color: rgb(255, 255, 255);
  font: normal normal 700 normal 14px / 20px 'Open Sans', sans-serif;
  outline: rgb(255, 255, 255) none 0;
  text-align: center;
  text-decoration: none solid rgb(255, 255, 255);
  user-select: none;
  white-space: nowrap;
} /* #A_10:before */

#DIV_11 {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px 4px 0 0;
  box-sizing: border-box;
  caret-color: rgb(123, 123, 123);
  color: rgb(123, 123, 123);
  column-rule-color: rgb(123, 123, 123);
  font: normal normal 400 normal 13px / 20.8px 'Open Sans', sans-serif;
  height: 121px;
  margin: 0 0 35px;
  outline: rgb(123, 123, 123) none 0;
  overflow: hidden;
  perspective-origin: 106.25px 60.5px;
  text-align: center;
  text-decoration: none solid rgb(123, 123, 123);
  transform-origin: 106.25px 60.5px;
  width: 212.5px;
} /* #DIV_11 */

#DIV_11:after {
  border: 0 none rgb(123, 123, 123);
  box-sizing: border-box;
  caret-color: rgb(123, 123, 123);
  color: rgb(123, 123, 123);
  column-rule-color: rgb(123, 123, 123);
  font: normal normal 400 normal 13px / 20.8px 'Open Sans', sans-serif;
  outline: rgb(123, 123, 123) none 0;
  text-align: center;
  text-decoration: none solid rgb(123, 123, 123);
} /* #DIV_11:after */

#DIV_11:before {
  border: 0 none rgb(123, 123, 123);
  box-sizing: border-box;
  caret-color: rgb(123, 123, 123);
  color: rgb(123, 123, 123);
  column-rule-color: rgb(123, 123, 123);
  font: normal normal 400 normal 13px / 20.8px 'Open Sans', sans-serif;
  outline: rgb(123, 123, 123) none 0;
  text-align: center;
  text-decoration: none solid rgb(123, 123, 123);
} /* #DIV_11:before */

#H2_12 {
  border: 0 none rgb(101, 101, 101);
  box-sizing: border-box;
  caret-color: rgb(101, 101, 101);
  color: rgb(101, 101, 101);
  column-rule-color: rgb(101, 101, 101);
  font: normal normal 500 normal 30px / 33px 'Roboto Condensed', sans-serif;
  height: 100px;
  margin: 5px 0 10px;
  outline: rgb(101, 101, 101) none 0;
  padding: 25px 0 0;
  perspective-origin: 105.25px 50px;
  text-align: center;
  text-decoration: none solid rgb(101, 101, 101);
  transform-origin: 105.25px 50px;
  width: 210.5px;
} /* #H2_12 */

#H2_12:after {
  border: 0 none rgb(101, 101, 101);
  box-sizing: border-box;
  caret-color: rgb(101, 101, 101);
  color: rgb(101, 101, 101);
  column-rule-color: rgb(101, 101, 101);
  font: normal normal 500 normal 30px / 33px 'Roboto Condensed', sans-serif;
  outline: rgb(101, 101, 101) none 0;
  text-align: center;
  text-decoration: none solid rgb(101, 101, 101);
} /* #H2_12:after */

#H2_12:before {
  border: 0 none rgb(101, 101, 101);
  box-sizing: border-box;
  caret-color: rgb(101, 101, 101);
  color: rgb(101, 101, 101);
  column-rule-color: rgb(101, 101, 101);
  font: normal normal 500 normal 30px / 33px 'Roboto Condensed', sans-serif;
  outline: rgb(101, 101, 101) none 0;
  text-align: center;
  text-decoration: none solid rgb(101, 101, 101);
} /* #H2_12:before */

#DIV_13 {
  background: rgb(147, 180, 156) none repeat scroll 0% 0% / auto padding-box
    border-box;
  border: 0 none rgb(123, 123, 123);
  box-sizing: border-box;
  caret-color: rgb(123, 123, 123);
  color: rgb(123, 123, 123);
  column-rule-color: rgb(123, 123, 123);
  font: normal normal 400 normal 13px / 20.8px 'Open Sans', sans-serif;
  height: 4px;
  outline: rgb(123, 123, 123) none 0;
  perspective-origin: 105.25px 2px;
  text-align: center;
  text-decoration: none solid rgb(123, 123, 123);
  transform-origin: 105.25px 2px;
  width: 210.5px;
} /* #DIV_13 */

#DIV_13:after {
  border: 0 none rgb(123, 123, 123);
  box-sizing: border-box;
  caret-color: rgb(123, 123, 123);
  color: rgb(123, 123, 123);
  column-rule-color: rgb(123, 123, 123);
  font: normal normal 400 normal 13px / 20.8px 'Open Sans', sans-serif;
  outline: rgb(123, 123, 123) none 0;
  text-align: center;
  text-decoration: none solid rgb(123, 123, 123);
} /* #DIV_13:after */

#DIV_13:before {
  border: 0 none rgb(123, 123, 123);
  box-sizing: border-box;
  caret-color: rgb(123, 123, 123);
  color: rgb(123, 123, 123);
  column-rule-color: rgb(123, 123, 123);
  font: normal normal 400 normal 13px / 20.8px 'Open Sans', sans-serif;
  outline: rgb(123, 123, 123) none 0;
  text-align: center;
  text-decoration: none solid rgb(123, 123, 123);
} /* #DIV_13:before */
</style>
