<template>
  <div id="pyramidME" class="pyd pyramid-panel-body ">
    <div class="pyd-row4-1">
      <a href="">
        <div class="pyd-me-da ">
          <div class="pyd-inner">
            <div>
              <div class="pyd-icons" />
              <p>Record Keeping</p>
              <div class="pyd-icons" />
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="pyd-row4-2">
      <a href="">
        <div class="pyd-me-ie ">
          <div class="pyd-inner">
            <div>
              <div class="pyd-icons" />
              <p>Integration + Estimation</p>
              <div class="pyd-icons" />
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="pyd-row4-3">
      <a href="">
        <div class="pyd-me-ad ">
          <div class="pyd-inner">
            <div>
              <div class="pyd-icons" />
              <p>Remote Sensing Observations</p>
              <div class="pyd-icons" />
            </div>
          </div>
        </div>
      </a>
      <a href="">
        <div class="pyd-me-unc ">
          <div class="pyd-inner">
            <div>
              <div class="pyd-icons" />
              <p>Uncertainty</p>
              <div class="pyd-icons" />
            </div>
          </div>
        </div>
      </a>
      <a href="">
        <div class="pyd-me-gbo ">
          <div class="pyd-inner">
            <div>
              <div class="pyd-icons" />
              <p>Ground Based Observations</p>
              <div class="pyd-icons" />
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</template>
