<template>
  <div id="pyramid" class="pyd pyramid-panel-body ">
    <div class="pyd-row4-1">
      <a href="">
        <div class="pyd-rv-ica ">
          <div class="pyd-inner">
            <div>
              <div class="pyd-icons" />
              Internal + External Analysis
              <div class="pyd-icons" />
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="pyd-row4-2">
      <a href="">
        <div class="pyd-rv-rel ">
          <div class="pyd-inner">
            <div>
              <div class="pyd-icons" />
              Reference Emission Levels
              <div class="pyd-icons" />
            </div>
          </div>
        </div>
      </a>
      <a href="">
        <div class="pyd-rv-reddr ">
          <div class="pyd-inner">
            <div>
              <div class="pyd-icons" />
              REDD+ Reporting
              <div class="pyd-icons" />
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="pyd-row4-3">
      <a href="">
        <div class="pyd-rv-ghgir ">
          <div class="pyd-inner">
            <div>
              <div class="pyd-icons" />
              <p>AFOLU GHG Inventory Reporting</p>
              <div class="pyd-icons" />
            </div>
          </div>
        </div>
      </a>
      <a href="">
        <div class="pyd-rv-ncr ">
          <div class="pyd-inner">
            <div>
              <div class="pyd-icons" />
              <p>Non-carbon Related Reporting</p>
              <div class="pyd-icons" />
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</template>
