<template>
  <div id="pyramidIA" class="pyd pyramid-panel-body">
    <div class="pyd-row4-1">
      <a href="">
        <div class="pyd-ia-mt">
          <div class="pyd-inner">
            <div>
              <div class="pyd-icons" />
              <p>Methods + Tools</p>
              <div class="pyd-icons" />
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="pyd-row4-2">
      <a href="">
        <div class="pyd-ia-ps">
          <div class="pyd-inner">
            <div>
              <div class="pyd-icons" />
              <p>Processes</p>
              <div class="pyd-icons" />
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="pyd-row4-3">
      <a href="">
        <div class="pyd-ia-fpg">
          <div class="pyd-inner">
            <div>
              <div class="pyd-icons" />
              <p>Forest Policy + Governance</p>
              <div class="pyd-icons" />
            </div>
          </div>
        </div>
      </a>
      <a href="">
        <div class="pyd-ia-mrvi">
          <div class="pyd-inner">
            <div>
              <div class="pyd-icons" />
              <p>MRV Institutions</p>
              <div class="pyd-icons" />
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</template>
