<template>
  <div id="pyramidPDD" class="pyd pyramid-panel-body ">
    <div class="pyd-row4-1">
      <a href="">
        <div class="pyd-dd-sts ">
          <div class="pyd-inner">
            <div>
              <div class="pyd-icons" />
              <p>Spatial + Temporal Scope</p>
              <div class="pyd-icons" />
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="pyd-row4-2">
      <a href="">
        <div class="pyd-dd-lulcs ">
          <div class="pyd-inner">
            <div>
              <div class="pyd-icons" />
              <p>LULC Stratification Scheme</p>
              <div class="pyd-icons" />
            </div>
          </div>
        </div>
      </a>
      <a href="">
        <div class="pyd-dd-amt ">
          <div class="pyd-inner">
            <div>
              <div class="pyd-icons" />
              <p>Approaches, Methods + Tiers</p>
              <div class="pyd-icons" />
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="pyd-row4-3">
      <a href="">
        <div class="pyd-dd-fd ">
          <div class="pyd-inner">
            <div>
              <div class="pyd-icons" />
              <p>Forest Definition</p>
              <div class="pyd-icons" />
            </div>
          </div>
        </div>
      </a>
      <a href="">
        <div class="pyd-dd-redda ">
          <div class="pyd-inner">
            <div>
              <div class="pyd-icons" />
              <p>REDD+ Activities</p>
              <div class="pyd-icons" />
            </div>
          </div>
        </div>
      </a>
      <a href="">
        <div class="pyd-dd-cpl ">
          <div class="pyd-inner">
            <div>
              <div class="pyd-icons " />
              <p>Carbon Pools</p>
              <div class="pyd-icons" />
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</template>
