<template>
  <div>
    <v-card>
      <v-card-title class="headline">
        Institutional Arrangements
      </v-card-title>
      <v-card-text>
        <pyramidIA />
      </v-card-text>
    </v-card>
    <v-card>
      <v-card-title class="headline">
        Policy and Design Decisions
      </v-card-title>
      <v-card-text>
        <pyramidPDD />
      </v-card-text>
    </v-card>
    <v-card>
      <v-card-title class="headline">
        Measurement and Estimation
      </v-card-title>
      <v-card-text>
        <pyramidME />
      </v-card-text>
    </v-card>
    <v-card>
      <v-card-title class="headline">
        Reporting and Verification
      </v-card-title>
      <v-card-text>
        <pyramidRV />
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import pyramidIA from '~/components/pyramidIA.vue'
import pyramidPDD from '~/components/pyramidPDD.vue'
import pyramidME from '~/components/pyramidME.vue'
import pyramidRV from '~/components/pyramidRV.vue'

export default {
  components: {
    pyramidIA,
    pyramidPDD,
    pyramidME,
    pyramidRV
  }
}
</script>
