<template>
  <i class="theme-arrow">
    <img alt="REDDcompass Arrow Logo" src="~assets/images/arrow.png" />
  </i>
</template>

<style lang="scss">
.theme-arrow {
  color: white;
  height: 0;
  left: 30%;
  opacity: 0.45;
  overflow: visible;
  position: absolute;
  top: 0;
  width: 0;
  z-index: 5000;

  img {
    height: 200px;
  }
}
</style>
