/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/*
    Created on : 30/12/2015, 5:43:37 PM
    Author     : michael
*/

.portlet-column-content.empty {
  padding: 0;
}

.mgd-sections-topper {
  background: #d3d3d3 none repeat scroll 0% 0%;
  border-radius: 3px 3px 0 0;
  color: #fff;
  padding: 0;
}

.mgd-sections-title {
  font-size: 1em;
  font-weight: normal;
  line-height: 2.2;
  margin: 0;
  padding: 0 10px;
}

.mgd-sections-content {
  border-color: #eaeaea;
  border-image: none;
  border-radius: 0 0 3px 3px;
  border-style: solid;
  border-width: 0 1px 1px;
  padding: 12px 10px 10px;
}

.gfoicontent-links-panel {
  border-color: #eaeaea;
  border-style: solid;
  border-width: 2px;
  padding: 10px;
}

.journal-content-article li {
  line-height: 18px;
}

.pyd-title {
  float: right;
  margin: 0 auto;
}

#mgd-section-panel {
  overflow: hidden;

  /* stylelint-disable selector-class-pattern, selector-max-id */
  #p_p_id_101_INSTANCE_gfoiAAAA0005_,
  .mgd-section-panel-body,
  .portlet-boundary_101_ {
    box-sizing: content-box;
    height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    //border: 2px solid #CCCCCC;
  }
  /* stylelint-enable */

  .add-asset-selector {
    display: none;
    visibility: hidden;
  }
}

.theme-arrow.theme-arrow-small {
  height: auto;
  position: static;
  width: auto;

  img {
    height: 50px;
  }
}

.theme-arrow {
  color: white;
  height: 0;
  left: 30%;
  opacity: 0.45;
  overflow: visible;
  position: absolute;
  top: 0;
  width: 0;
  z-index: 5000;

  img {
    height: 200px;
  }
}

#column-page-title {
  display: inline-block;
}

.brief-description {
  font-size: 12px;
}

@include max-screen($break-small) {
  .theme-arrow {
    left: 20%;
    top: 100px;

    img {
      height: 100px;
    }
  }
}
