/*
    Created on : 2019 Aug 24
    Author     : michael
*/

.mgd-theme {
  .portfolio-item {
    margin: auto;

    .info {
      h4.title,
      a.btn {
        font-weight: bolder;
      }
    }
  }

  .media-wrapper {
    border: 1px solid;
    border-color: #ddd;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    h2 {
      height: 100px;
      padding-top: 25px;
    }
  }

  .theme-strip {
    height: 4px;
  }

  .active {
    .theme-strip {
      // Empty
    }
  }
}

@mixin mgd-theme-base($theme-colour) {
  .portfolio-item {
    .overlay {
      background-color: rgba($theme-colour, 1);
    }

    .btn {
      background-color: lighten($theme-colour, 3%);
      border: 1px solid darken($theme-colour, 5%);

      &:hover,
      &:focus {
        background-color: $theme-colour;
      }
    }
  }

  .theme-strip {
    background-color: $theme-colour;
  }

  .portfolio-item-filters li a {
    &:hover,
    &:focus {
      color: $theme-colour;
    }

    &.active {
      background-color: $theme-colour;
    }
  }
}

@each $mgd-theme-Def in (IA $ColourIA, PD $ColourPD, ME $ColourME, RV $ColourRV) {
  .mgd-theme {
    ul > li.active {
      &.#{nth($mgd-theme-Def, 1)} a {
        background-color: nth($mgd-theme-Def, 2);
      }
    }

    .#{nth($mgd-theme-Def, 1)} {
      @include mgd-theme-base(nth($mgd-theme-Def, 2));
    }

    p.#{nth($mgd-theme-Def, 1)} {
      color: nth($mgd-theme-Def, 2);
    }
  }
}
