/*
    Created on : 2019 Aug 22
    Author     : michael
*/

.mgd-theme {
  .mgd-theme-nav {
    height: 0;
    overflow: visible;
    width: 100%;

    ul {
      width: 100%;

      li {
        width: 25%;

        a {
          color: black;
        }
      }
    }
  }

  .mgd-related-nav {
    width: 100%;

    .panel-group .panel .panel-title > a i {
      font-size: inherit;
    }

    #collapseR1 > div {
      // @include border-bottom-radius(2px);
      background-color: #f5f5f5;
      border: 1px solid #ddd;
      color: black;
    }

    .panel-title {
      font: inherit;
      font-size: inherit;
    }

    ul {
      height: 280px;
      width: 100%;

      li {
        margin: 2px;
        padding: 7px 12px;
        width: 100%;

        a {
          color: black;
        }
      }

      li.active {
        background-color: #6a737e;
        color: #fff;

        a {
          color: inherit;
        }
      }

      li.related:before {
        content: '\f0c1';
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-right: 0.5em;
        text-rendering: auto;
        transform: translate(0, 0);
      }

      li.related,
      li.active {
        // @include border-radius(3px);
      }
    }
  }
}

@each $mgd-theme-Def in (IA $ColourIA, PD $ColourPD, ME $ColourME, RV $ColourRV) {
  .mgd-theme {
    .asset-related {
      .#{nth($mgd-theme-Def, 1)} {
        ul > li.related {
          background-color: lighten(nth($mgd-theme-Def, 2), 15%);
        }
      }
    }

    .mgd-related-nav {
      ul > li.active {
        // Empty
      }

      #collapseR1 > div.#{nth($mgd-theme-Def, 1)} {
        //background-color: lighten(nth($mgd-theme-Def, 2), 15%);

        ul > li.related {
          background-color: lighten(nth($mgd-theme-Def, 2), 15%);
        }

        ul > li.active {
          // Empty
        }

        a {
          // Empty
        }
      }
    }
  }
}

@include max-screen($break-medium) {
  .mgd-theme {
    .mgd-theme-nav {
      ul {
        li {
          float: left !important;

          a {
            // Empty
          }
        }
      }

      ul.nav > li.active {
        // Empty
      }
    }

    .mgd-related-nav {
      margin-top: 27px;
      width: 100%;

      ul > li {
        width: 100%;
      }

      ul {
        height: 280px;
        width: 100%;
      }

      ul > li.active {
        // Empty
      }
    }
  }
}

@include max-screen($break-small) {
  .mgd-theme {
    .asset-group {
      display: block;
      float: none !important;

      .asset-category {
        display: block;
      }
    }

    .mgd-theme-nav {
      height: auto;
      overflow: auto;
      width: 100%;

      ul > li {
        display: none;
        width: 100%;
      }

      ul {
        margin: 0;
        padding: 0;
        width: 100%;
      }

      ul.nav > li.active {
        display: block;
      }
    }

    .mgd-related-nav {
      margin-top: 0;
      width: 100%;

      ul {
        height: auto;
        width: 100%;

        li {
          width: 100%;
        }
      }
    }
  }
}
