/*
    Created on : Aug 2019
    Author     : michael
*/

.pyd-col-12,
.pyd-col-11,
.pyd-col-10,
.pyd-col-8,
.pyd-col-6,
.pyd-col-4,
.pyd-col-3,
.pyd-col-2,
.pyd-col-1 {
  @include debug-border();
  //height:100%;
  box-sizing: border-box;
  display: table;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
}

.pyd-col-12 {
  //width: 100%;
}

.pyd-col-11 {
  //width: ceil(percentage(11/12));
}

.pyd-col-10 {
  // width: ceil(percentage(10/12));
}

.pyd-col-8 {
  //width: ceil(percentage(8/12));
}

.pyd-col-6 {
  // width: 50%;
}

.pyd-col-4 {
  // width: percentage(4/12);
}

.pyd-col-3 {
  //width: percentage(3/12);
}

.pyd-col-2 {
  //width: percentage(2/12);
}

.pyd-col-1 {
  //width: percentage(1/12);
}

//    $PydUnitSizeWidth * (0.1px + ((((12px / ($group * 1px)) - ($row * 1px)) * (($group * 1px)/ 12px))/2px))
@function GFOI-pydMarginFn($row, $group: 4) {
  $borderAliasing1: -15 * $PyramidScale;
  $borderAliasing2: 10 * $PyramidScale;
  $result: (
    $PydUnitSizeWidth * (0.1+((((12 / $group) - $row) * ($group / 12))/2))
  );

  @if ($row == 3) {
    $result: $result + $borderAliasing2;
  }

  @if ($row == 1) {
    $result: $result + $borderAliasing1;
  }

  @return $result;
}

.pyd-exact-pos {
  box-sizing: border-box;
  display: block;
  float: left;
  left: 0;
  margin: 0 20px;
  padding: 0;
  position: relative;
  top: 0;
}

.pyd {
  width: $PydUnitSizeWidth;
}

.pyd-row4-1,
.pyd-row4-2,
.pyd-row4-3 {
  @include debug-border(darkgreen);

  box-sizing: border-box;
  display: table;
  margin: 0;
  position: relative;
  width: 100%;
}

.pyd-row4-1 {
  //padding:0 GFOI-pydMarginFn(1) 0 GFOI-pydMarginFn(1);
}

.pyd-row4-2 {
  //padding:0 GFOI-pydMarginFn(2) 0 GFOI-pydMarginFn(2);
}

.pyd-row4-3 {
  //padding:0 GFOI-pydMarginFn(3) 0 GFOI-pydMarginFn(3);
}

@function GFOI-buildIcon($width, $height, $viewbox, $iconSVG) {
  $icon: '%3Csvg%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%22#{$height}%22%20width%3D%22#{$width}%22%20version%3D%221.1%22%20xmlns%3Acc%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23%22%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%20viewBox%3D%22#{$viewbox}%22%3E%0A%20#{$iconSVG}%0A%3C%2Fsvg%3E';

  @return $icon;
}

@function GFOI-mapBuildIcon($iconData) {
  @return GFOI-buildIcon(
    get-list($iconData, width),
    get-list($iconData, height),
    str-replace(get-list($iconData, viewbox), ' ', '%20'),
    str-replace(get-list($iconData, icon), ' ', '%20')
  );
}

@function GFOI-buildPath($path, $parameters) {
  $icon: '%3Cpath%20fill%3D%22#{get-list($parameters, color)}%22%20stroke%3D%22#{get-list($parameters, stroke-color)}%22%20stroke-width%3D%22#{get-list($parameters, stroke-width)}%22%20style%3D%22stroke-linejoin%3A#{get-list($parameters, stroke-linejoin)}%3Bfill-rule%3A#{get-list($parameters, fill-rule)}%3Bopacity%3A#{get-list($parameters, opacity)}%3Bstroke-dasharray%3A#{get-list($parameters, stroke-dasharray)}%22%20d%3D%22#{$path}%22%20%2F%3E';

  @return $icon;
}

@function create-icon(
  $icon-name,
  $color,
  $opacity: 1,
  $stroke-color: $color,
  $stroke-dasharray: 'none',
  $stroke-width: 2,
  $stroke-linejoin: round,
  $fill-rule: evenodd,
  $css: '' // arbitrary css
) {
  $parameters: (
    'color' str-replace('#{$color}', '#', '%23'),
    'stroke-color' str-replace('#{$stroke-color}', '#', '%23'),
    'stroke-dasharray' $stroke-dasharray,
    'stroke-width' $stroke-width,
    'stroke-linejoin' $stroke-linejoin,
    'fill-rule' $fill-rule,
    'opacity' $opacity,
    'css' $css
  );

  $icons: (
    // Overall
    overall-rv
    (
      'height' '81',
      'width' '279',
      'viewbox' '0 0 279.128 80.999922',
      'icon' GFOI-buildPath('m184 78.5h-89.5l45.5-77.5z', $parameters)
    ),
    overall-me
    (
      'height' '80',
      'width' '279',
      'viewbox' '0 0 279.128 80.000021',
      'icon' GFOI-buildPath('m230 77.5h-182l43.3-75h95.3z', $parameters)
    ),
    overall-ia
    (
      'height' '81',
      'width' '140',
      'viewbox' '0 0 139.564 81.000006',
      'icon' GFOI-buildPath('m137 80h-136l44.7-77.5h91.3z', $parameters)
    ),
    overall-dd
    (
      'height' '81',
      'width' '140',
      'viewbox' '0 0 139.564 81.000006',
      'icon' GFOI-buildPath('m139 80-136-.01v-77.5h91.4z', $parameters)
    ),
    // Institutional Arrangements
    ia-mt
    (
      'height' '81', 'width' '279',
      'viewbox' '0 0 279.128 80.999922',
      'icon' GFOI-buildPath('m184 78.5h-89.5l45.5-77.5z', $parameters)
    ),
    ia-ps
    (
      'height' '80',
      'width' '279',
      'viewbox' '0 0 279.128 80.000021',
      'icon' GFOI-buildPath('m230 77.5h-182l43.3-75h95.3z', $parameters)
    ),
    ia-fpg
    (
      'height' '81',
      'width' '140',
      'viewbox' '0 0 139.564 81.000006',
      'icon' GFOI-buildPath('m137 80h-136l44.7-77.5h91.3z', $parameters)
    ),
    ia-mrvi
    (
      'height' '81',
      'width' '140',
      'viewbox' '0 0 139.564 81.000006',
      'icon' GFOI-buildPath('m139 80-136-.01v-77.5h91.4z', $parameters)
    ),
    // Reporting and Verification
    rv-ica
    (
      'height' '81', 'width' '279', 'viewbox'
      '0 0 279.128 80.999922',
      'icon' GFOI-buildPath('m184 78.5h-89.5l45.5-77.5z', $parameters)
    ),
    rv-rel
    (
      'height' '81',
      'width' '141',
      'viewbox' '0 0 140.56408 81.000021',
      'icon' GFOI-buildPath('m137 78.5-88.4-.005 43.3-75 45.1.003z', $parameters)
    ),
    rv-reddr
    (
      'height' '81',
      'width' '141',
      'viewbox' '0 0 140.56408 81.000021',
      'icon' GFOI-buildPath('m91.9 78.5h-88.5v-75h45.2z', $parameters)
    ),
    rv-ghgir
    (
      'height' '81',
      'width' '188',
      'viewbox' '0 0 188.19318 81.002608',
      'icon' GFOI-buildPath('m185 80h-184l44.7-77.5h139z', $parameters)
    ),
    rv-ncr
    (
      'height' '81',
      'width' '92.9',
      'viewbox' '0 0 92.93497 81.000006',
      'icon' GFOI-buildPath('m91.9 80h-88.4v-77.5l43.7-.01z', $parameters)
    ),
    // Measurement and Estimation
    me-da
    (
      'height' '81', 'width' '279', 'viewbox'
      '0 0 279.128 80.999922', 'icon'
      GFOI-buildPath('m184 78.5h-89.5l45.5-77.5z', $parameters)
    ),
    me-ie
    (
      'height' '80',
      'width' '279',
      'viewbox' '0 0 279.128 80.000021',
      'icon' GFOI-buildPath('m230 77.5h-182l43.3-75h95.3z', $parameters)
    ),
    me-ad
    (
      'height' '81',
      'width' '92.9',
      'viewbox' '0 0 92.934161 81.000006',
      'icon' GFOI-buildPath('m89.4 80h-88.4l44.7-77.5 43.7.005z', $parameters)
    ),
    me-unc
    (
      'height' '81',
      'width' '97.3',
      'viewbox' '0 0 97.261325 81.000006',
      'icon' GFOI-buildPath('m93.8 80h-90.3v-77.5h90.3z', $parameters)
    ),
    me-gbo
    (
      'height' '81',
      'width' '92.9',
      'viewbox' '0 0 92.93497 81.000006',
      'icon' GFOI-buildPath('m91.9 80h-88.4v-77.5l43.7-.01z', $parameters)
    ),
    // Policy Design Decisions
    dd-sts
    (
      'height' '81', 'width' '279',
      'viewbox' '0 0 279.128 80.999922',
      'icon' GFOI-buildPath('m184 78.5h-89.5l45.5-77.5z', $parameters)
    ),
    dd-lulcs
    (
      'height' '81',
      'width' '141',
      'viewbox' '0 0 140.56408 81.000021',
      'icon' GFOI-buildPath('m137 78.5-88.4-.005 43.3-75 45.1.003z', $parameters)
    ),
    dd-amt
    (
      'height' '81',
      'width' '141',
      'viewbox' '0 0 140.56408 81.000021',
      'icon' GFOI-buildPath('m91.9 78.5h-88.5v-75h45.2z', $parameters)
    ),
    dd-fd
    (
      'height' '81',
      'width' '92.9',
      'viewbox' '0 0 92.934161 81.000006',
      'icon' GFOI-buildPath('m89.4 80h-88.4l44.7-77.5 43.7.005z', $parameters)
    ),
    dd-redda
    (
      'height' '81',
      'width' '97.3',
      'viewbox' '0 0 97.261325 81.000006',
      'icon' GFOI-buildPath('m93.8 80h-90.3v-77.5h90.3z', $parameters)
    ),
    dd-cpl
    (
      'height' '81',
      'width' '92.9',
      'viewbox' '0 0 92.93497 81.000006',
      'icon' GFOI-buildPath('m91.9 80h-88.4v-77.5l43.7-.01z', $parameters)
    )
  );

  $icon: GFOI-mapBuildIcon(get-list($icons, $icon-name));

  @return url('data:image/svg+xml;charset=utf8,#{$icon}');
}

@mixin pyd-icon($name, $pydColour) {
  background-attachment: scroll !important;
  background-clip: border-box !important;
  background-color: transparent !important;
  background-image: create-icon($name, rgba($pydColour, 0.241), 1, grey, '10,4');
  background-origin: border-box !important;
  background-position: 0 0 !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  box-sizing: border-box;

  //height:$PydRowSizeHeight;
  //width:100%;
  //max-width:100%;
  //min-width:100%;
  display: table;
  float: left;
  margin: 0;
  overflow: visible;
  padding: 0;
  position: relative;

  &.active {
    background-image: create-icon($name, rgba($pydColour, 0.241), 1, black, '10,4');

    &:hover {
      background-image: create-icon($name, darken($pydColour, 20%), 1, black, '10,4');
    }
  }

  &.done {
    background-image: create-icon($name, $pydColour, 1, $pydColour);

    &.active {
      background-image: create-icon($name, $pydColour, 1, black);

      &:hover {
        background-image: create-icon($name, darken($pydColour, 20%), 1, black);
      }
    }
  }

  &:hover {
    background-image: create-icon($name, darken($pydColour, 20%), 1, grey, '10,4');

    &.done {
      background-image: create-icon($name, darken($pydColour, 20%), 1);
    }
  }

  .pyd-inner {
    //position: relative;
    color: black;
    display: table-cell;
    font-size: $PydUnitSizeWidth * 0.024;
    font-weight: bold;
    height: 100%;
    margin: 0;
    max-width: 100%;
    min-width: 100%;
    overflow: visible;
    text-align: center;
    vertical-align: middle;
    width: 100%;

    div {
      position: relative;
    }

    a {
      color: black;
      font-weight: bold;
    }
  }
}

@mixin pyd-flag($colour: black) {
  background: #ddd;
  border-color: #eee;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  color: $colour;
  display: inline-block;
  font: normal normal normal 18px/1 FontAwesome;
  font-size: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding: 0 3px;
  padding: 0 4px;
  position: absolute;
  text-rendering: auto;
  transform: translate(0, 0);
  vertical-align: middle;
}

.pyd-warning::before {
  @include pyd-flag(darkorange);

  content: '\f071';
  left: 27%;
  top: -15px;
}

.pyd-error::before {
  @include pyd-flag(darkred);

  content: '\f057';
  left: 50%;
  top: -15px;
}

.pyd-info::before {
  @include pyd-flag(black);

  content: '\f05a';
  left: 27%;
  top: 110%;
}

.pyd-done::before {
  @include pyd-flag(black);

  content: '\f00c';
  left: 50%;
  top: 110%;
}

$borderPadding: 20px * $PyramidScale;
$topBorderPadding: 40px * $PyramidScale;

/* stylelint-disable indentation  */
@each $pydIconDef
  in (
    overall-rv
      $ColourRV
      100%
      $PydRowSizeHeight
      ($topBorderPadding GFOI-pydMarginFn(1) 0 GFOI-pydMarginFn(1)),
    overall-me
      $ColourME
      100%
      $PydRowSizeHeight
      ($borderPadding GFOI-pydMarginFn(2) $borderPadding GFOI-pydMarginFn(2)),
    overall-ia
      $ColourIA
      50%
      $PydRowSizeHeight
      ($borderPadding $borderPadding $borderPadding GFOI-pydMarginFn(3)),
    overall-dd
      $ColourPD
      50%
      $PydRowSizeHeight
      ($borderPadding GFOI-pydMarginFn(3) $borderPadding $borderPadding),
    ia-mt
      $ColourIA
      100%
      $PydRowSizeHeight
      ($topBorderPadding GFOI-pydMarginFn(1) 0 GFOI-pydMarginFn(1)),
    ia-ps
      $ColourIA
      100%
      $PydRowSizeHeight
      ($borderPadding GFOI-pydMarginFn(2) $borderPadding GFOI-pydMarginFn(2)),
    ia-fpg
      $ColourIA
      50%
      $PydRowSizeHeight
      ($borderPadding $borderPadding $borderPadding GFOI-pydMarginFn(3)),
    ia-mrvi
      $ColourIA
      50%
      $PydRowSizeHeight
      ($borderPadding GFOI-pydMarginFn(3) $borderPadding $borderPadding),
    rv-ica
      $ColourRV
      100%
      $PydRowSizeHeight
      ($topBorderPadding GFOI-pydMarginFn(1) 0 GFOI-pydMarginFn(1)),
    rv-rel
      $ColourRV
      50%
      $PydRowSizeHeight
      ($borderPadding $borderPadding $borderPadding GFOI-pydMarginFn(2)),
    rv-reddr
      $ColourRV
      50%
      $PydRowSizeHeight
      ($borderPadding GFOI-pydMarginFn(2) $borderPadding $borderPadding),
    rv-ghgir
      $ColourRV
      66.67%
      $PydRowSizeHeight
      ($borderPadding $borderPadding $borderPadding GFOI-pydMarginFn(3)),
    rv-ncr
      $ColourRV
      33.33%
      $PydRowSizeHeight
      ($borderPadding GFOI-pydMarginFn(3) $borderPadding $borderPadding),
    me-da
      $ColourME
      100%
      $PydRowSizeHeight
      ($topBorderPadding GFOI-pydMarginFn(1) 0 GFOI-pydMarginFn(1)),
    me-ie
      $ColourME
      100%
      $PydRowSizeHeight
      ($borderPadding GFOI-pydMarginFn(2) $borderPadding GFOI-pydMarginFn(2)),
    me-ad
      $ColourME
      32.63%
      $PydRowSizeHeight
      ($borderPadding $borderPadding $borderPadding GFOI-pydMarginFn(3)),
    me-unc
      $ColourME
      34.73%
      $PydRowSizeHeight
      ($borderPadding $borderPadding $borderPadding $borderPadding),
    me-gbo
      $ColourME
      32.63%
      $PydRowSizeHeight
      ($borderPadding GFOI-pydMarginFn(3) $borderPadding $borderPadding),
    dd-sts
      $ColourPD
      100%
      $PydRowSizeHeight
      ($topBorderPadding GFOI-pydMarginFn(1) 0 GFOI-pydMarginFn(1)),
    dd-lulcs
      $ColourPD
      50%
      $PydRowSizeHeight
      ($borderPadding $borderPadding $borderPadding GFOI-pydMarginFn(2)),
    dd-amt
      $ColourPD
      50%
      $PydRowSizeHeight
      ($borderPadding GFOI-pydMarginFn(2) $borderPadding $borderPadding),
    dd-fd
      $ColourPD
      32.63%
      $PydRowSizeHeight
      ($borderPadding $borderPadding $borderPadding GFOI-pydMarginFn(3)),
    dd-redda
      $ColourPD
      34.73%
      $PydRowSizeHeight
      ($borderPadding $borderPadding $borderPadding $borderPadding),
    dd-cpl
      $ColourPD
      32.63%
      $PydRowSizeHeight
      ($borderPadding GFOI-pydMarginFn(3) $borderPadding $borderPadding)
  ) {
      .pyd-#{nth($pydIconDef, 1)} {
        @include pyd-icon('#{nth($pydIconDef, 1)}', nth($pydIconDef, 2));

        height: nth($pydIconDef, 4);
        width: nth($pydIconDef, 3);

        .pyd-inner {
          padding: nth($pydIconDef, 5);
        }
      }
}
/* stylelint-enable */
