@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }

  @return $string;
}

@mixin debug-border($colour: black) {
  border-color: $colour;
  border-style: dashed;
  border-width: 0;
}

@function head-list($list) {
  @return nth($list, 1);
}

@function tail-list($list) {
  $result: ();

  @for $i from 1 through length($list) {
    @if $i != 1 {
      @if length($list) == 2 {
        $result: nth($list, $i);
      }

      @else {
        $result: append($result, nth($list, $i));
      }
    }
  }

  @return $result;
}

@function list-debug($list, $pre: false, $level: 1) {
  $tab: '    ';
  $indent: '';
  $break: if($pre, '\A ', '');

  @if length($list) == 0 {
    @return '( )';
  }

  @if length($list) == 1 {
    @return if($pre, '(' + type-of($list) + ') ', '') + $list;
  }

  @for $i from 1 to $level {
    $indent: $indent + $tab;
  }

  $result: '[' + $break;

  @for $i from 1 through length($list) {
    $item: nth($list, $i);
    $result: $result + if($pre, $indent + $tab, ' ');

    @if length($item) > 1 {
      $result: $result + if($pre, '(list: ' + length($item) + ') ', '') + list-debug($item, $pre, $level + 1);
    }

    @else {
      @if $pre {
        $result: $result + '(' + type-of($item) + ') ';
      }

      @if length($item) == 0 {
        $result: $result + '( )';
      }

      @else if type-of($item) == string {
        $result: $result + quote($item);
      }

      @else if $item == null {
        $result: $result + 'null';
      }

      @else {
        $result: $result + $item;
      }
    }

    @if $i != length($list) {
      $result: $result + ',' + $break;
    }
  }

  $result: $result + $break + if($pre, if($level > 1, $indent, ''), ' ') + ']';

  @return quote($result);
}

@mixin body-debug($list) {
  body::before {
    background: #efefef !important;
    border: 1px solid #ddd !important;
    border-radius: 0.2em !important;
    color: #333 !important;
    content: list-debug($list, true) !important;
    display: block !important;
    font: 0.75em/1.5 'Courier New', monospace !important;
    margin: 1em !important;
    padding: 0.5em !important;
    text-shadow: 0 1px white !important;
    white-space: pre-wrap !important;
  }
}

@function get-list($map, $label) {
  @each $list in $map {
    @if nth($list, 1) == $label {
      @return tail-list($list);
    }
  }
  /* stylelint-disable-next-line at-rule-blacklist, at-rule-no-unknown */
  @debug 'Missing' $label;

  @return null;
}
