/* Oct 2016 */

// Original colours
$ColourIA: #93b49c;
$ColourPD: #4da3ba;
//$ColourME: #706e70;
//$ColourME: #9382aa;
$ColourME: #9f9ec5;
//$ColourRV: #cbdd6a;
//$ColourRV: #bdb45a;
//$ColourRV:#826644;
$ColourRV: #bd9463;

// Dan colours
//$ColourIA: #e6e01c;
//$ColourPD: #69a341;
//$ColourME: #009de0;
//$ColourRV: #6e343f;

$TextColour: black;
$ColourTextInvert: white;
$ColourBackgorundInvert: black;
$EffectSpeed: 0.4s;

$LogoSize: 170px;
$PyramidScale: 0.95;
$PydUnitSizeWidth: 600px * $PyramidScale;
$PydUnitSizeHeight: 522px * $PyramidScale;
$PydRowSizeHeight: 174px * $PyramidScale;
