<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <v-card>
        <v-card-title class="headline">Prototype App</v-card-title>
        <v-card-text>
          <p>
            <RCLogo />This is a test suit of all the interface elements for REDDcompass.
          </p>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import RCLogo from '~/components/RCLogo.vue'

export default {
  components: {
    RCLogo
  }
}
</script>
