<template>
  <v-layout>
    <v-flex>
      <h2>Language Strings</h2>
      <p>access-more-material=Acceder a más material</p>
      <p>access-more-material=Access more material</p>
      <p>
        access-more-material=Accéder à plus de matériel
      </p>
      <p>
        action-details=Detalles acciones
      </p>
      <p>action-details=Détails actions</p>
      <p>action-details=action details</p>
      <p>action-response=Acción y Respuesta</p>
      <p>action-response=Action and Response</p>
      <p>
        action-response=Actions et réponses
      </p>
      <p>action=Acción</p>
      <p>
        action=Action
      </p>
      <p>action=action</p>
      <p>actions-done=Acciones realizadas</p>
      <p>actions-done=Actions Done</p>
      <p>
        actions-done=Actions entreprises
      </p>
      <p>actions=Acciones</p>
      <p>
        actions=Actions
      </p>
      <p>actions=Actions</p>
      <p>
        add-detail-to-a-mrv-system=Add detail
      </p>
      <p>
        add-detail-to-a-mrv-system=Ajouter détails
      </p>
      <p>
        add-detail-to-a-mrv-system=Añadir detalles
      </p>
      <p>
        add-email-addresses-separated-by-commas=Add email addresses separated by
        commas.
      </p>
      <p>
        add-email-addresses-separated-by-commas=Ajouter les adresses de courriel
        séparées d'une virgule
      </p>
      <p>
        add-email-addresses-separated-by-commas=Añadir direcciones de correo
        electrónico separadas por comas
      </p>
      <p>address-from=Address From</p>

      <p>address-from=Adresse De</p>
      <p>address-from=Dirección Desde</p>

      <p>addresses-to=Addresses To</p>
      <p>addresses-to=Adresses À</p>
      <p>
        addresses-to=Direcciones A
      </p>
      <p>
        are-you-sure-you-want-to-delete-profile=Are you sure you want to delete
        MRV profile?
      </p>
      <p>
        are-you-sure-you-want-to-delete-profile=Está seguro de que desea borrar
        el perfil MRV?
      </p>
      <p>
        are-you-sure-you-want-to-delete-profile=Etes-vous sûr de vouloir
        supprimer le profil MNV?
      </p>
      <p>cap-register=INSCRIPTION</p>
      <p>
        cap-register=REGISTER
      </p>
      <p>cap-register=REGISTRARSE</p>
      <p>
        category=Categoría
      </p>
      <p>category=Catégorie</p>
      <p>
        category=category
      </p>
      <p>characters-remaining=Caractères restants</p>
      <p>characters-remaining=Carácteres restantes</p>
      <p>
        characters-remaining=characters-remaining
      </p>
      <p>check-box=Cocher la case</p>
      <p>check-box=Marcar casilla</p>
      <p>check-box=check box</p>
      <p>clear-worksheet=Borrar ficha</p>
      <p>clear-worksheet=Clear Worksheet</p>
      <p>clear-worksheet=Effacer la fiche</p>
      <p>
        close=Cerrar
      </p>
      <p>close=Close</p>
      <p>close=Fermer</p>
      <p>
        competency=Competencia
      </p>
      <p>competency=Competency</p>
      <p>
        competency=Compétence
      </p>
      <p>concept-000=Forest Policy + Governance</p>
      <p>concept-000=Politique forestière + Gouvernance</p>
      <p>
        concept-000=Pólitica forestal + Gobernanza
      </p>
      <p>
        concept-001=Methods + Tools
      </p>
      <p>concept-001=Méthodes + Outils</p>
      <p>concept-001=Métodos + Herramientas</p>
      <p>
        concept-002=Instituciones de MRV
      </p>
      <p>concept-002=Institutions de MNV</p>
      <p>concept-002=MRV Institutions</p>
      <p>
        concept-003=Procesos
      </p>
      <p>concept-003=Processes</p>
      <p>
        concept-003=Processus
      </p>
      <p>concept-004=Approaches, Methods + Tiers</p>
      <p>concept-004=Approches, métodes + niveaux</p>
      <p>
        concept-004=Planteamientos, métodos + níveles
      </p>
      <p>
        concept-005=Carbon Pools
      </p>
      <p>concept-005=Dépositos de carbono</p>
      <p>concept-005=Réservoirs de carbone</p>
      <p>
        concept-006=Definición del bosque
      </p>
      <p>concept-006=Définition de la forêt</p>
      <p>concept-006=Forest Definition</p>
      <p>
        concept-007=LULC Stratification Scheme
      </p>
      <p>concept-007=Modèle de stratification de l’UOT</p>
      <p>concept-007=Plan de estratificación del UTCT</p>
      <p>concept-008=Actividades REDD+</p>
      <p>
        concept-008=Activités REDD+
      </p>
      <p>concept-008=REDD+ Activities</p>

      <p>concept-009=Champ d'application spatial + temporel</p>
      <p>
        concept-009=Spatial + Temporal Scope
      </p>
      <p>concept-009=Ámbito espacial + temporal</p>
      <p>concept-010= Mantenimiento de archivos</p>
      <p>concept-010=Conservation des informations</p>
      <p>
        concept-010=Record Keeping
      </p>
      <p>concept-011=Ground Based Observations</p>
      <p>concept-011=Observaciones terrestres</p>
      <p>
        concept-011=Observations sur le terrain
      </p>
      <p>
        concept-012=Integración + Estimación
      </p>
      <p>concept-012=Integration + Estimation</p>
      <p>concept-012=Intégration + Estimation</p>
      <p>
        concept-013=Observaciones por teledetección
      </p>
      <p>
        concept-013=Observations par télédétection
      </p>
      <p>concept-013=Remote Sensing Observations</p>
      <p>concept-014=Incertidumbre</p>
      <p>
        concept-014=Incertitudes
      </p>
      <p>concept-014=Uncertainty</p>
      <p>
        concept-015=AFOLU GHG Inventory Reporting
      </p>
      <p>concept-015=Informe de inventario de los GEI en la ASOUT</p>
      <p>concept-015=Rapport d’inventaire des GES dans l’AFAUT</p>
      <p>concept-016=Analyse interne + externe</p>
      <p>concept-016=Análisis interna + externa</p>
      <p>
        concept-016=Internal + External Analysis
      </p>
      <p>
        concept-017=Etablissement des rapports non liés au carbone
      </p>
      <p>
        concept-017=Non-carbon Related Reporting
      </p>
      <p>
        concept-017=Presentación de informes no relacionados con el carbono
      </p>
      <p>concept-018=Presentación de informes para REDD+</p>
      <p>
        concept-018=REDD+ Reporting
      </p>
      <p>concept-018=Établissement des rapports pour la REDD+</p>
      <p>concept-019=Niveaux d'émission de référence</p>
      <p>concept-019=Niveles de referencia de las emisiones</p>
      <p>concept-019=Reference Emission Levels</p>
      <p>
        concept-worksheet=Concept Worksheet
      </p>
      <p>concept-worksheet=Ficha Concepto</p>
      <p>concept-worksheet=Fiche Concept</p>
      <p>
        copy-worksheet-to-another-mrv-system=Copiar ficha a otro perfil MRV
      </p>
      <p>
        copy-worksheet-to-another-mrv-system=Copier la fiche dans un autre
        profil MNV
      </p>
      <p>
        copy-worksheet-to-another-mrv-system=Copy Worksheet to another MRV
        Profile
      </p>
      <p>
        create-a-new-mrv-system=Crear nuevo perfil MRV
      </p>
      <p>
        create-a-new-mrv-system=Create a new MRV Profile
      </p>
      <p>
        create-a-new-mrv-system=Créer un nouveau profil MNV
      </p>
      <p>
        create-or-select-a-mrv-system=Crear o seleccionar perfil MRV
      </p>
      <p>
        create-or-select-a-mrv-system=Create or select a MRV Profile
      </p>
      <p>
        create-or-select-a-mrv-system=Créer ou sélectionner profil MNV
      </p>

      <p>date-report-created=Date Report Created</p>
      <p>
        date-report-created=Date création du rapport
      </p>
      <p>
        date-report-created=Fecha creación del informe
      </p>
      <p>
        delete-confirm=Oui
      </p>
      <p>delete-confirm=Sì</p>
      <p>
        delete-confirm=Yes
      </p>
      <p>delete-detail=Delete detail</p>
      <p>
        delete-detail=Eliminar detalle
      </p>
      <p>delete-detail=Supprimer détail</p>
      <p>detail-of-action-response=Enter Response Note</p>
      <p>
        detail-of-action-response=Introducir Nota de respuesta
      </p>
      <p>
        detail-of-action-response=Introduire Note de réponse
      </p>
      <p>
        details=Detalles
      </p>
      <p>details=Détails</p>
      <p>details=details</p>
      <p>dialog-box-style=Estilo cuadro de diálogo</p>
      <p>
        dialog-box-style=Style boîte de dialogue
      </p>
      <p>
        dialog-box-style=dialog box style
      </p>
      <p>download-the-mgd=Descargar el DMO</p>
      <p>download-the-mgd=Download the MGD</p>
      <p>
        download-the-mgd=Télécharger les MPR
      </p>
      <p>
        edit-profile-details=Configurar detalles perfil
      </p>
      <p>
        edit-profile-details=Edit profile details
      </p>
      <p>
        edit-profile-details=Modifier les détails du profil
      </p>
      <p>
        edit-tags=Edit Tags
      </p>
      <p>edit-tags=Editar etiquetas</p>
      <p>
        edit-tags=Éditer les balises
      </p>
      <p>email-box=Correo electrónico</p>
      <p>email-box=courriel</p>
      <p>email-box=email</p>
      <p>
        enter-competency-state=Enter Competency State
      </p>
      <p>
        enter-competency-state=Entrar estado de compentecias
      </p>
      <p>
        enter-competency-state=Saisir l’état des compétences
      </p>
      <p>
        enter-detail-tags=Enter Tags
      </p>
      <p>enter-detail-tags=Entrar etiquetas</p>
      <p>enter-detail-tags=Saisir balises</p>
      <p>
        enter-response=Enter Response
      </p>
      <p>enter-response=Entrar respuesta</p>
      <p>enter-response=Saisir réponse</p>
      <p>enter-state=Enter Action State</p>
      <p>enter-state=Entrar estado acción</p>
      <p>
        enter-state=Saisir état de l’action
      </p>
      <p>existing-mrvsystem=Il existe déjà un profil MNV avec ce nom</p>
      <p>
        existing-mrvsystem=There is an existing MRV Profile with that name.
      </p>
      <p>existing-mrvsystem=Ya existe un perfil MRV con ese nombre</p>

      <p>
        export-functionality-will-only-be-available-for-data-saved-to-the-database=Export
        functionality will only be available for data saved to the database.
      </p>
      <p>export-worksheet=Export Worksheet</p>
      <p>
        export-worksheet=Exportar Ficha
      </p>
      <p>export-worksheet=Exporter la fiche</p>
      <p>form-data-will-be-saved-to-x=Form data will be saved to {0}.</p>
      <p>
        form-data-will-be-saved-to-x=Les données du formulaire seront
        sauvegardées dans {0}
      </p>
      <p>
        form-data-will-be-saved-to-x=Los datos del formulario se guardarán en
        {0}
      </p>
      <p>
        front-page=Couverture
      </p>
      <p>front-page=Front Page</p>
      <p>
        front-page=Portada
      </p>
      <p>fullname-box=Full name</p>
      <p>
        fullname-box=Nom complet
      </p>
      <p>fullname-box=Nombre completo</p>

      <p>get-help-about-the-mgd-web-application=Ask for help about This page</p>
      <p>
        get-help-about-the-mgd-web-application=Demander de l’aide pour cette
        page
      </p>
      <p>
        get-help-about-the-mgd-web-application=Solicitar ayuda sobre esta página
      </p>
      <p>help-menu-title=Aide</p>
      <p>help-menu-title=Ayuda</p>
      <p>help-menu-title=Help</p>
      <p>hide=Cacher</p>
      <p>
        hide=Ocultar
      </p>
      <p>hide=hide</p>
      <p>
        institutional-arrangements=Disposiciones institucionales
      </p>
      <p>
        institutional-arrangements=Dispositifs institutionnels
      </p>
      <p>
        javax.portlet.title.1_WAR_webformportlet=Web Form
      </p>
      <p>
        manage-an-existing-mrv-system=Gestion d’un profil MNV existant
      </p>

      <p>manage-an-existing-mrv-system=Gestión de Perfil MRV existente</p>

      <p>manage-an-existing-mrv-system=Manage an existing MRV Profile</p>

      <p>mark-all-details=Marcar todos los estados de acción</p>
      <p>
        mark-all-details=Mark all Action States
      </p>
      <p>
        mark-all-details=Marquer tous les état de l’action
      </p>
      <p>
        mark-selected-details=Marcar detalles seleccionados
      </p>
      <p>
        mark-selected-details=Mark Selected Details
      </p>
      <p>
        mark-selected-details=Marquer les détails sélectionnés
      </p>
      <p>
        marked-as=Marcado como
      </p>
      <p>marked-as=Marked as</p>
      <p>
        marked-as=Marqué comme
      </p>
      <p>measurement-estimation=Medición + Estimación</p>
      <p>measurement-estimation=Mesure + Estimation</p>
      <p>mgd-acronym=DMO</p>
      <p>mgd-acronym=MGD</p>
      <p>
        mgd-acronym=MPR
      </p>
      <p>mgd-themes=Temas</p>
      <p>
        mgd-themes=Themes
      </p>
      <p>mgd-themes=Thèmes</p>
      <p>
        mgd_1-1=Arreglos institucionales y decisiones de REDD+
      </p>
      <p>
        mgd_1-1=Dispositifs institutionnels et décisions de REDD+
      </p>
      <p>
        mgd_1-1=Institutional arrangements and REDD+ decisions
      </p>
      <p>
        mgd_1-2=Instituciones que participan en la medición, notificación y
        verificación
      </p>
      <p>
        mgd_1-2=Institutions associées aux activités de mesure, notification et
        vérification
      </p>
      <p>
        mgd_1-2=Institutions involved in measurement, reporting and verification
      </p>
      <p>mgd_1-3=Measurement, reporting and verification processes</p>
      <p>mgd_1-3=Procesos de medición, notificación y verificación</p>
      <p>mgd_1-3=Processus de mesure, notification et vérification</p>
      <p>mgd_1-4=Exigences opérationnelles</p>
      <p>mgd_1-4=Operational requirements</p>
      <p>
        mgd_1-4=Requisitos operacionales
      </p>
      <p>mgd_1-5=Guiding principles – Institutional arrangements</p>
      <p>mgd_1-5=Principes directeurs – Dispositifs institutionnels</p>
      <p>mgd_1-5=Principios Rectores – Arreglos Institucionales</p>
      <p>mgd_1=Arreglos Institucionales</p>
      <p>mgd_1=Dispositifs institutionnels</p>
      <p>
        mgd_1=Institutional arrangements
      </p>
      <p>mgd_2-1=Decisiones y requisitos de la CMNUCC</p>
      <p>mgd_2-1=Exigences et décisions de la CCNUCC</p>
      <p>mgd_2-1=UNFCCC decisions and requirements</p>

      <p>mgd_2-2-1=Relación con la CMNUCC</p>
      <p>mgd_2-2-1=Relations avec la CCNUCC</p>
      <p>mgd_2-2-1=Relationship to UNFCCC</p>
      <p>
        mgd_2-2-2=Cobertura, enfoques, métodos y niveles de los IGEI
      </p>

      <p>mgd_2-2-2=Couverture IGES, approches, méthodes et niveaux (Tiers)</p>
      <p>mgd_2-2-2=GHGI coverage, approaches, methods and tiers</p>

      <p>mgd_2-2-3=Alcance y análisis de categorías esenciales</p>
      <p>
        mgd_2-2-3=Significance and key category analysis
      </p>
      <p>
        mgd_2-2-3=Signification et analyse des catégories de source clés
      </p>
      <p>mgd_2-2=Guide et orientations sur les bonnes pratiques du GIEC</p>
      <p>mgd_2-2=IPCC good practice guidance</p>
      <p>
        mgd_2-2=Orientación de buenas prácticas del IPCC
      </p>
      <p>
        mgd_2-3-1=Definición de bosque
      </p>
      <p>mgd_2-3-1=Definition of forest</p>
      <p>mgd_2-3-1=Définition de la forêt</p>
      <p>
        mgd_2-3-2=Cobertura de la tierra, uso de la tierra y estratificación
      </p>
      <p>
        mgd_2-3-2=Couverture terrestre, occupation des sols et stratification
      </p>
      <p>mgd_2-3-2=Land cover, land use and stratification</p>
      <p>mgd_2-3-3-1=Coherencia con el IGEI</p>
      <p>
        mgd_2-3-3-1=Cohérence avec l’IGES
      </p>
      <p>mgd_2-3-3-1=Consistency with the GHGI</p>
      <p>mgd_2-3-3-2=Use of historical data</p>
      <p>
        mgd_2-3-3-2=Uso de datos históricos
      </p>
      <p>mgd_2-3-3-2=Utilisation des données historiques</p>
      <p>mgd_2-3-3-3=Adjustments</p>
      <p>
        mgd_2-3-3-3=Ajustements
      </p>
      <p>mgd_2-3-3-3=Ajustes</p>
      <p>
        mgd_2-3-3-4=Incertidumbres
      </p>
      <p>mgd_2-3-3-4=Incertitudes</p>
      <p>
        mgd_2-3-3-4=Uncertainties
      </p>
      <p>mgd_2-3-3-5=Approche par étapes et actualisation</p>
      <p>mgd_2-3-3-5=Enfoque progresivo y actualización</p>
      <p>mgd_2-3-3-5=Stepwise approach and updating</p>
      <p>
        mgd_2-3-3-6=Cantidad de niveles de referencia por cada Parte
      </p>
      <p>
        mgd_2-3-3-6=Nombre de niveaux de référence par parties
      </p>
      <p>
        mgd_2-3-3-6=Number of reference levels per Party
      </p>
      <p>
        mgd_2-3-3-7=Actividades subnacionales
      </p>
      <p>mgd_2-3-3-7=Activités infranationales</p>
      <p>mgd_2-3-3-7=Subnational activities</p>
      <p>
        mgd_2-3-3=Forest reference emission levels and forest reference levels
      </p>
      <p>
        mgd_2-3-3=Les niveaux d’émission de référence pour les forêts et les
        niveaux de référence pour les forêts
      </p>
      <p>
        mgd_2-3-3=Niveles de referencia de emisiones forestales y niveles de
        referencia forestales
      </p>
      <p>mgd_2-3-4=Assurance qualité et contrôle qualité</p>
      <p>mgd_2-3-4=Garantía de la calidad y control de calidad</p>
      <p>
        mgd_2-3-4=Quality assurance and quality control
      </p>
      <p>
        mgd_2-3=Decisiones sobre el diseño de los sistemas nacionales de
        monitoreo forestal
      </p>
      <p>
        mgd_2-3=Design decisions relevant to national forest monitoring systems
      </p>
      <p>
        mgd_2-3=Décisions à l’étape de conception des systèmes nationaux de
        surveillance des forêts
      </p>
      <p>mgd_2-4=Guiding principles – Requirements and design decisions</p>
      <p>mgd_2-4=Principes directeurs – Critères et décisions de conception</p>
      <p>mgd_2-4=Principios Rectores – Requisitos y Decisiones de Diseño</p>
      <p>mgd_2=Exigences et décisions à l’étape de conception</p>
      <p>mgd_2=Requirements and design decisions</p>
      <p>mgd_2=Requisitos y Decisiones de Diseño</p>

      <p>mgd_3-1-1=Estimación de las emisiones derivadas de la deforestación</p>
      <p>mgd_3-1-1=Estimation des émissions provenant de la déforestation</p>
      <p>mgd_3-1-1=Estimation of emissions from deforestation</p>
      <p>mgd_3-1-2=Estimación de emisiones derivadas de la degradación</p>
      <p>mgd_3-1-2=Estimation des émissions provenant de la dégradation</p>
      <p>mgd_3-1-2=Estimation of emissions from degradation</p>
      <p>
        mgd_3-1-3=Gestion durable des forêts, renforcement des stocks de carbone
        forestiers (au sein de forêts existantes), et conservation des stocks de
        carbone forestiers
      </p>
      <p>
        mgd_3-1-3=Manejo sostenible de los bosques, aumento de las existencias
        forestales de carbono (dentro de bosques existentes), y conservación de
        las existencias forestales de carbono
      </p>
      <p>
        mgd_3-1-3=Sustainable management of forests, enhancement of forest
        carbon stocks (within existing forest), and conservation of forest
        carbon stocks
      </p>
      <p>
        mgd_3-1-4=Aumento de las existencias forestales de carbono (forestación
        de tierras previamente no forestadas, reforestación de tierras
        previamente convertidas de bosque a otros usos de la tierra)
      </p>
      <p>
        mgd_3-1-4=Enhancement of forest carbon stocks (afforestation of land not
        previously forest, reforestation of land previously converted from
        forest to another land use)
      </p>
      <p>
        mgd_3-1-4=Renforcement des stocks de carbone forestiers (boisement de
        terres qui n’étaient pas précédemment des forêts, reboisement
        d’anciennes forêts qui ont été converties en d’autres utilisations)
      </p>
      <p>mgd_3-1-5=Conversion des forêts naturelles</p>
      <p>mgd_3-1-5=Conversion of natural forest</p>
      <p>
        mgd_3-1-5=Conversión del bosque natural
      </p>
      <p>mgd_3-1=Estimation methods for REDD+ activities</p>
      <p>mgd_3-1=Méthodes d’estimation pour les activités REDD+</p>
      <p>mgd_3-1=Métodos de estimación para las actividades de REDD+</p>
      <p>mgd_3-2-1-1=Activity data x emission/removal factor frameworks</p>
      <p>
        mgd_3-2-1-1=Données d’activité x cadres de coefficient
        d’émission/absorption
      </p>
      <p>
        mgd_3-2-1-1=Métodos de datos de actividad x factores de
        emisión/absorción
      </p>
      <p>mgd_3-2-1-2=Cadres entièrement intégrés</p>
      <p>mgd_3-2-1-2=Fully integrated frameworks</p>
      <p>
        mgd_3-2-1-2=Métodos totalmente integrados
      </p>
      <p>
        mgd_3-2-1-3=Méthodes spatiales explicites
      </p>
      <p>
        mgd_3-2-1-3=Métodos espacialmente explícitos
      </p>
      <p>
        mgd_3-2-1-3=Spatially explicit methods
      </p>
      <p>mgd_3-2-1-4=Les méthodes référencées spatialement</p>
      <p>mgd_3-2-1-4=Métodos referenciados espacialmente</p>
      <p>mgd_3-2-1-4=Spatially referenced methods</p>
      <p>mgd_3-2-1=Selección de un método de integración</p>
      <p>mgd_3-2-1=Selecting an integration framework</p>
      <p>mgd_3-2-1=Sélection d’un cadre d’intégration</p>
      <p>
        mgd_3-2-2=Activity data x emission/removal factor tools
      </p>
      <p>
        mgd_3-2-2=Herramientas de datos de actividad x factores de
        emisión/absorción
      </p>
      <p>
        mgd_3-2-2=Outils adaptés aux données d’activités x coefficients
        d’émissions/ absorptions
      </p>
      <p>
        mgd_3-2-3=Fully integrated tools
      </p>
      <p>mgd_3-2-3=Herramientas totalmente integradas</p>
      <p>mgd_3-2-3=Outils entièrement intégrés</p>
      <p>
        mgd_3-2-4=Consideraciones prácticas al momento de elegir una herramienta
        de integración
      </p>
      <p>
        mgd_3-2-4=Considérations pratiques pour choisir un outil d’intégration
      </p>
      <p>
        mgd_3-2-4=Practical considerations in choosing an integration tool
      </p>
      <p>
        mgd_3-2=Cadres d’intégration permettant d’estimer les émissions et les
        absorptions
      </p>
      <p>mgd_3-2=Integration frameworks for estimating emission and removals</p>
      <p>
        mgd_3-2=Métodos de integración para estimar las emisiones y absorciones
      </p>
      <p>
        mgd_3-3=Guiding principles – Methods and approaches
      </p>
      <p>
        mgd_3-3=Principes directeurs – Méthodes et approches
      </p>
      <p>
        mgd_3-3=Principios Rectores – Métodos y Enfoques
      </p>
      <p>
        mgd_3=Methods and approaches
      </p>
      <p>mgd_3=Méthodes et approches</p>
      <p>mgd_3=Métodos y Enfoques</p>
      <p>mgd_4-1-1=Coarse resolution optical data</p>
      <p>mgd_4-1-1=Datos ópticos de baja resolución</p>
      <p>mgd_4-1-1=Données optiques de faible résolution</p>
      <p>
        mgd_4-1-2=Datos ópticos de resolución media
      </p>
      <p>
        mgd_4-1-2=Données optiques de moyenne résolution
      </p>
      <p>
        mgd_4-1-2=Medium resolution optical data
      </p>
      <p>mgd_4-1-3=Datos ópticos de alta resolución</p>
      <p>mgd_4-1-3=Données optiques à résolution élevée</p>
      <p>mgd_4-1-3=High resolution optical data</p>
      <p>mgd_4-1-4=L-band Synthetic aperture radar</p>
      <p>
        mgd_4-1-4=Le RADAR à ouverture synthétique (RAS)
      </p>
      <p>
        mgd_4-1-4=RADAR de apertura sintética
      </p>
      <p>mgd_4-1-5=C-band and X-band SAR</p>
      <p>mgd_4-1-5=Les systèmes RAS en bande C et en bande X</p>
      <p>mgd_4-1-5=SAR de banda C y de banda X</p>
      <p>
        mgd_4-1-6=LIDAR
      </p>
      <p>mgd_4-1-6=LIDAR</p>
      <p>mgd_4-1-6=Les capteurs LIDAR</p>
      <p>mgd_4-1-7=Global forest cover change datasets</p>
      <p>
        mgd_4-1-7=Series de datos mundiales sobre el cambio en la cubierta
        forestal
      </p>
      <p>
        mgd_4-1-7=Séries de données sur l’évolution du couvert forestier mondial
      </p>
      <p>
        mgd_4-1=Observaciones por teledetección
      </p>
      <p>
        mgd_4-1=Observations de télédédection
      </p>
      <p>mgd_4-1=Remote sensing observations</p>
      <p>mgd_4-2-1=Inventaires forestiers nationaux</p>
      <p>mgd_4-2-1=Inventarios Forestales Nacionales</p>

      <p>mgd_4-2-1=National forest inventories</p>
      <p>
        mgd_4-2-2=Intensive monitoring sites
      </p>
      <p>mgd_4-2-2=Sites de surveillance intensive</p>
      <p>mgd_4-2-2=Sitios de monitoreo intensivo</p>
      <p>
        mgd_4-2-3-1=Use of auxiliary data in emission and removal factors and
        models
      </p>
      <p>
        mgd_4-2-3-1=Uso de datos auxiliares en los factores y modelos de emisión
        y absorción
      </p>

      <p>
        mgd_4-2-3-1=Utilisation des données auxiliaires pour déterminer les
        coefficients et les modèles d’émissions et d’absorptions
      </p>

      <p>mgd_4-2-3-2=Use of auxiliary data in REDD+ estimation</p>
      <p>
        mgd_4-2-3-2=Uso de datos auxiliares para la estimación de REDD+
      </p>
      <p>
        mgd_4-2-3-2=Utilisation des données auxiliaires pour les estimations
        REDD+
      </p>
      <p>mgd_4-2-3=Auxiliary data</p>
      <p>
        mgd_4-2-3=Datos auxiliares
      </p>
      <p>mgd_4-2-3=Données auxiliaires</p>
      <p>mgd_4-2=Ground-based observations</p>
      <p>
        mgd_4-2=Observaciones terrestres
      </p>
      <p>mgd_4-2=Observations au sol</p>
      <p>
        mgd_4-3=Guiding principles – Remote sensing and ground-based
        observations
      </p>
      <p>mgd_4-3=Principes directeurs – Télédétection et observation au sol</p>
      <p>
        mgd_4-3=Principios rectores – Observaciones por Teledetección y
        Terrestres
      </p>
      <p>
        mgd_4=Observaciones por Teledetección y Terrestres
      </p>
      <p>
        mgd_4=Remote sensing and ground-based observations
      </p>
      <p>
        mgd_4=Télédédection et observations au sol
      </p>
      <p>
        mgd_5-1-1=Methods for estimating activity data
      </p>
      <p>
        mgd_5-1-1=Méthodes pour estimer les données sur les activités
      </p>

      <p>mgd_5-1-1=Métodos para estimar los datos de actividad</p>
      <p>
        mgd_5-1-2=Cartes des forêts/non-forêts, de l&#39;utilisation des terres,
        ou de la stratification des forêts
      </p>
      <p>
        mgd_5-1-2=Mapas de tierras forestales/no forestales, uso de la tierra, o
        estratificación forestal
      </p>
      <p>
        mgd_5-1-2=Maps of forest/non-forest, land use, or forest stratification
      </p>
      <p>
        mgd_5-1-3=Detección de los cambios en las superficies
      </p>
      <p>
        mgd_5-1-3=Detecting areas of change
      </p>
      <p>mgd_5-1-3=Détection des zones de changement</p>
      <p>mgd_5-1-4=Additional map products from remote sensing</p>
      <p>
        mgd_5-1-4=Productos cartográficos adicionales a partir de la
        teledetección
      </p>
      <p>
        mgd_5-1-4=Produits cartographiques supplémentaires pour la télédétection
      </p>
      <p>mgd_5-1-5-1=Estimadores aleatorios simples y sistemáticos</p>
      <p>mgd_5-1-5-1=Estimateurs aléatoires et systématiques simples</p>
      <p>mgd_5-1-5-1=Simple random and systematic estimators</p>
      <p>
        mgd_5-1-5-2=Estimadores estratificados
      </p>
      <p>
        mgd_5-1-5-2=Estimateurs stratifiés
      </p>
      <p>
        mgd_5-1-5-2=Stratified estimators
      </p>
      <p>
        mgd_5-1-5-3=Estimadores asistidos por modelos
      </p>
      <p>
        mgd_5-1-5-3=Estimateurs assistés par modèle
      </p>
      <p>
        mgd_5-1-5-3=Model-assisted estimators
      </p>
      <p>
        mgd_5-1-5=Estimación de la incertidumbre en una superficie y cambio en
        la superficie
      </p>
      <p>mgd_5-1-5=Estimating uncertainty of area and change in area</p>
      <p>
        mgd_5-1-5=Estimation des incertitudes et changements de superficie
      </p>
      <p>mgd_5-1=Activity data</p>
      <p>mgd_5-1=Datos de actividad</p>
      <p>mgd_5-1=Données sur les activités</p>
      <p>
        mgd_5-2-1-1=Use of forest inventory plot data and allometric models for
        biomass estimation
      </p>
      <p>
        mgd_5-2-1-1=Uso de datos de parcelas del inventario forestal y de
        modelos alométricos para la estimación de la biomasa
      </p>
      <p>
        mgd_5-2-1-1=Utilisation des données parcellaires provenant d’inventaires
        forestiers et de modèles allométriques pour l’estimation de la biomasse
      </p>
      <p>mgd_5-2-1-2=Use of remote sensing data in biomass estimation</p>
      <p>
        mgd_5-2-1-2=Uso de datos de teledetección para la estimación de la
        biomasa
      </p>
      <p>
        mgd_5-2-1-2=Utilisation des données de télédétection pour l’estimation
        de la biomasse
      </p>
      <p>mgd_5-2-1=Above- and belowground biomass</p>
      <p>mgd_5-2-1=Biomasa por encima y por debajo del suelo</p>
      <p>mgd_5-2-1=Biomasse aérienne et souterraine</p>
      <p>mgd_5-2-2=Bassins de bois mort et litière</p>
      <p>mgd_5-2-2=Dead wood and litter pools</p>
      <p>
        mgd_5-2-2=Reservorios de madera muerta y hojarasca
      </p>
      <p>
        mgd_5-2-3=Carbono orgánico del suelo
      </p>
      <p>mgd_5-2-3=Le carbone dans les sols organiques</p>
      <p>mgd_5-2-3=Soil organic carbon</p>
      <p>
        mgd_5-2-4=Emisiones derivadas de incendios prescritos e incendios
        naturales
      </p>
      <p>mgd_5-2-4=Emissions from prescribed fires and wildfires</p>
      <p>
        mgd_5-2-4=Émissions provenant des feux dirigés et des incendies de forêt
      </p>
      <p>
        mgd_5-2-5=Choix des pays pour estimer les coefficients d’émissions et
        d’absorptions
      </p>
      <p>
        mgd_5-2-5=National choices in emissions and removals factor estimation
      </p>
      <p>
        mgd_5-2-5=Opciones nacionales para la estimación de los factores de
        emisiones y absorciones
      </p>

      <p>
        mgd_5-2-6-1=Method 1: Calculation of emissions/removals factors from
        spatially segregated strata
      </p>
      <p>
        mgd_5-2-6-1=Méthode 1: Calcul des coefficients d’émissions/absorptions à
        partir des strates séparées spatialement
      </p>
      <p>
        mgd_5-2-6-1=Método 1: Cálculo de los Factores de Emisiones/Absorciones a
        partir de Estratos Espacialmente Segregados
      </p>
      <p>
        mgd_5-2-6-2=Method 2: Calculation of emissions/removals factors from
        change-over-time
      </p>
      <p>
        mgd_5-2-6-2=Méthode 2: Calcul des coefficients d’émissions/absorptions à
        partir des changements au cours du temps
      </p>
      <p>
        mgd_5-2-6-2=Método 2: Cálculo de los Factores Emisiones/Absorciones a
        partir del Cambio en el Tiempo
      </p>
      <p>
        mgd_5-2-6=Emission and removal factor uncertainties
      </p>
      <p>
        mgd_5-2-6=Incertidumbres del factor de emisión y absorción
      </p>

      <p>
        mgd_5-2-6=Incertitudes sur les coefficients d’émissions et d’absorptions
      </p>
      <p>mgd_5-2=Coefficients d’émissions/absorptions</p>
      <p>mgd_5-2=Emissions/removals factors</p>
      <p>mgd_5-2=Factores de emisiones/absorciones</p>

      <p>
        mgd_5-3=Estimación total de emisiones/absorciones y su incertidumbre
      </p>
      <p>mgd_5-3=Estimating total emissions/removals and its uncertainty</p>
      <p>
        mgd_5-3=Estimation des émissions/absorptions totales et des incertitudes
      </p>
      <p>mgd_5-4=Guiding principles – Estimation and uncertainty</p>
      <p>mgd_5-4=Principes directeurs – Estimation et incertitudes</p>
      <p>mgd_5-4=Principios Rectores – Estimación e Incertidumbre</p>
      <p>mgd_5=Estimación e Incertidumbre</p>
      <p>mgd_5=Estimation and uncertainty</p>
      <p>
        mgd_5=Estimation et incertitudes
      </p>
      <p>mgd_6-1=Exigences et procédures pour REDD+</p>
      <p>mgd_6-1=REDD+ requirements and procedures</p>
      <p>mgd_6-1=Requerimientos y procedimientos de REDD+</p>
      <p>
        mgd_6-2=Notificación de niveles de referencia de emisiones forestales y
        niveles de referencia forestales
      </p>
      <p>
        mgd_6-2=Notification des niveaux d’émission de référence pour les forêts
        et des niveaux de référence pour les forêts
      </p>
      <p>
        mgd_6-2=Reporting forest reference emission levels and forest reference
        levels
      </p>
      <p>
        mgd_6-3=Evaluación técnica de los niveles de referencia de emisiones
        forestales y niveles de referencia forestales
      </p>
      <p>
        mgd_6-3=Technical assessment of forest reference emission levels and
        forest reference levels
      </p>
      <p>
        mgd_6-3=Évaluation technique des niveaux d’émission de référence pour
        les forêts et des niveaux de référence pour les forêts
      </p>
      <p>mgd_6-4=Notificación de resultados de actividades REDD+</p>
      <p>mgd_6-4=Notification des résultats des activités REDD+</p>
      <p>mgd_6-4=Reporting results of REDD+ activities</p>
      <p>mgd_6-5=Analyse technique de l’annexe REDD+ au BUR</p>
      <p>mgd_6-5=Análisis del anexo técnico de REDD+ para los BUR</p>
      <p>mgd_6-5=Technical analysis of the REDD+ annex to the BUR</p>
      <p>mgd_6-6=Additional advice on REDD+ reporting and verification</p>
      <p>
        mgd_6-6=Autres conseils sur la notification et la vérification pour
        REDD+
      </p>
      <p>
        mgd_6-6=Sugerencia adicional sobre notificación y verificación de REDD+
      </p>
      <p>
        mgd_6-7=Guiding Principles – Reporting and verification of emissions and
        removals
      </p>
      <p>
        mgd_6-7=Principes directeurs – Notification et vérification des
        émissions et absorptions
      </p>
      <p>
        mgd_6-7=Principios Rectores de la Notificación y Verificación de
        Emisiones y Absorciones
      </p>

      <p>mgd_6=Notificación y Verificación de Emisiones y Absorciones</p>
      <p>mgd_6=Notification et vérification des émissions et absorptions</p>
      <p>mgd_6=Reporting and verification of emissions and removals</p>
      <p>mgd_7=References</p>
      <p>mgd_7=Referencias</p>
      <p>mgd_7=Références</p>
      <p>mgd_Appendix_A=Consideraciones Financieras</p>
      <p>mgd_Appendix_A=Considérations financières</p>
      <p>mgd_Appendix_A=Financial considerations</p>
      <p>
        mgd_Appendix_B=Muestreo
      </p>
      <p>mgd_Appendix_B=Sampling</p>
      <p>
        mgd_Appendix_B=Échantillonnage
      </p>
      <p>mgd_Appendix_C=Country examples – Tier 3 integration</p>
      <p>mgd_Appendix_C=Ejemplos de Países – Integración Nivel 3</p>
      <p>mgd_Appendix_C=Exemples nationaux – Intégration de niveau 3</p>
      <p>mgd_Appendix_D=Use of global forest change map data</p>
      <p>mgd_Appendix_D=Uso de Datos Cartográficos de Global Forest Change</p>
      <p>
        mgd_Appendix_D=Utilisation des données cartographiques mondiales sur les
        changements dans les forêts
      </p>
      <p>
        mgd_Appendix_E=Efficacité relative
      </p>
      <p>
        mgd_Appendix_E=Eficacia Relativa
      </p>
      <p>mgd_Appendix_E=Relative efficiencies</p>
      <p>
        mgd_Appendix_F=Desarrollo y uso de modelos alométricos para la
        estimación de la biomasa
      </p>
      <p>
        mgd_Appendix_F=Developing and using allometric models to estimate
        biomass
      </p>
      <p>
        mgd_Appendix_F=Le développement et l&#39;utilisation de modèles
        allométriques pour estimer la biomasse
      </p>
      <p>
        mgd_Appendix_G=Bref examen du potentiel de la télédétection pour estimer
        la biomasse
      </p>
      <p>
        mgd_Appendix_G=Breve Revisión del Potencial de Estimación Directa de la
        Biomasa Mediante Teledetección
      </p>
      <p>
        mgd_Appendix_G=Brief review of the potential for estimation of biomass
        by remote sensing
      </p>
      <p>
        model.resource.com.eas.gfoi.docs.mrvsystem.model.Detail=Detalle perfil
        MRV
      </p>
      <p>
        model.resource.com.eas.gfoi.docs.mrvsystem.model.Detail=Détail profil
        MNV
      </p>
      <p>
        model.resource.com.eas.gfoi.docs.mrvsystem.model.Detail=MRV Profile
        Detail
      </p>
      <p>
        model.resource.com.eas.gfoi.docs.mrvsystem.model.MRVSystem=MRV Profile
      </p>
      <p>
        model.resource.com.eas.gfoi.docs.mrvsystem.model.MRVSystem=Perfil MRV
      </p>
      <p>
        model.resource.com.eas.gfoi.docs.mrvsystem.model.MRVSystem=Profil MNV
      </p>
      <p>mrv-system=MRV Profile</p>
      <p>mrv-system=Perfil MRV</p>
      <p>mrv-system=Profil MNV</p>
      <p>
        mrvsystem-cannot-be-displayed=El perfil MRV seleccionado no se puede
        mostrar
      </p>
      <p>
        mrvsystem-cannot-be-displayed=Le profil MNV selectionné ne peut pas être
        affiché
      </p>
      <p>
        mrvsystem-cannot-be-displayed=The selected MRV Profile cannot be
        displayed.
      </p>
      <p>mrvsystem-competency-state-invalid=Invalid</p>
      <p>mrvsystem-competency-state-invalid=No válido</p>
      <p>
        mrvsystem-competency-state-invalid=Non valide
      </p>
      <p>
        mrvsystem-competency-state-not-applicable=No aplicable
      </p>
      <p>
        mrvsystem-competency-state-not-applicable=Non applicable
      </p>
      <p>
        mrvsystem-competency-state-not-applicable=Not Applicable
      </p>
      <p>
        mrvsystem-competency-state-not-set=No configurado
      </p>
      <p>
        mrvsystem-competency-state-not-set=Non établi
      </p>
      <p>
        mrvsystem-competency-state-not-set=Not Set
      </p>
      <p>
        mrvsystem-competency-state-training-covered=Capacitación completada
      </p>
      <p>
        mrvsystem-competency-state-training-covered=Formation complétée
      </p>
      <p>mrvsystem-competency-state-training-covered=Training Covered</p>
      <p>
        mrvsystem-competency-state-training-required=Capacitación necesaria
      </p>
      <p>
        mrvsystem-competency-state-training-required=Formation nécessaire
      </p>
      <p>mrvsystem-competency-state-training-required=Training Required</p>
      <p>mrvsystem-country=Country</p>
      <p>
        mrvsystem-country=Pays
      </p>
      <p>mrvsystem-country=País</p>
      <p>
        mrvsystem-name=MRV Profile Name
      </p>
      <p>mrvsystem-name=Nom profil MNV</p>
      <p>mrvsystem-name=Nombre Perfil MRV</p>
      <p>
        mrvsystem-state-done=Done
      </p>
      <p>mrvsystem-state-done=Listo</p>

      <p>mrvsystem-state-done=Terminé</p>
      <p>
        mrvsystem-state-invalid=Invalid
      </p>
      <p>
        mrvsystem-state-invalid=No válido
      </p>
      <p>
        mrvsystem-state-invalid=Non valide
      </p>
      <p>
        mrvsystem-state-not-applicable=No aplicable
      </p>
      <p>
        mrvsystem-state-not-applicable=Non applicable
      </p>
      <p>
        mrvsystem-state-not-applicable=Not Applicable
      </p>
      <p>
        mrvsystem-state-not-set=No terminado
      </p>
      <p>
        mrvsystem-state-not-set=Non terminé
      </p>
      <p>
        mrvsystem-state-not-set=Not Done
      </p>
      <p>name-from=Name From</p>

      <p>name-from=Nom Depuis</p>
      <p>name-from=Nombre Desde</p>
      <p>
        name=Nombre
      </p>
      <p>name=name</p>
      <p>name=nom</p>
      <p>
        new-item=new item
      </p>
      <p>new-item=nouvel élément</p>
      <p>
        new-item=nuevo elemento
      </p>
      <p>open-another-mrv-system=Abrir otro Perfil MRV</p>
      <p>open-another-mrv-system=Open another MRV Profile</p>
      <p>open-another-mrv-system=Ouvrir un autre profil MNV</p>
      <p>optional=Facultatif</p>
      <p>
        optional=Opcional
      </p>
      <p>optional=optional</p>
      <p>
        options=Opciones
      </p>
      <p>options=Options</p>
      <p>
        options=options
      </p>
      <p>owner-role=Owner Role</p>
      <p>
        owner-role=Rol propietario
      </p>
      <p>owner-role=Rôle de propriétaire</p>
      <p>page-style=Estilo página</p>
      <p>
        page-style=Style page
      </p>
      <p>page-style=page style</p>
      <p>
        panel-style=Estilo panel
      </p>
      <p>panel-style=Style écran</p>
      <p>
        panel-style=panel style
      </p>
      <p>paragraph=Párrafo</p>
      <p>
        paragraph=paragraph
      </p>
      <p>paragraph=paragraphe</p>
      <p>
        please-enter-a-valid-path-and-file-name=Entrer un chemin d’accès et un
        nom de fichier valides
      </p>
      <p>
        please-enter-a-valid-path-and-file-name=Introducir una ruta y un nombre
        de archivo válidos
      </p>
      <p>
        please-enter-a-valid-path-and-file-name=Please enter a valid path and
        file name.
      </p>
      <p>
        please-enter-no-more-than-75-characters=Ne pas entrer plus de 75
        caractères
      </p>
      <p>
        please-enter-no-more-than-75-characters=No introducir más de 75
        carácteres
      </p>
      <p>
        please-enter-no-more-than-75-characters=Please enter no more than 75
        characters.
      </p>
      <p>please-enter-unique-field-names=Entrer des noms de champ uniques</p>
      <p>
        please-enter-unique-field-names=Introducir nombres de campo únicos
      </p>
      <p>please-enter-unique-field-names=Please enter unique field names</p>
      <p>
        please-sign-in-to-add-a-mrv-system-detail=Iniciar sesión para añadir un
        Detalle de perfil MRV
      </p>
      <p>
        please-sign-in-to-add-a-mrv-system-detail=Please sign in to add a MRV
        Profile Detail
      </p>
      <p>
        please-sign-in-to-add-a-mrv-system-detail=Se connecter pour ajouter un
        Détail de profil MNV
      </p>
      <p>
        policy-design-decisions=Politiques + Choix de conception
      </p>
      <p>
        policy-design-decisions=Políticas + Decisiones de diseño
      </p>
      <p>
        populate=Populate
      </p>
      <p>populate=Rellenar</p>
      <p>
        populate=Remplir
      </p>
      <p>radio-buttons=Botones de opción</p>
      <p>
        radio-buttons=Boutons radio
      </p>
      <p>radio-buttons=radio buttons</p>
      <p>read-the-mgd=Leer el DMO</p>
      <p>read-the-mgd=Lire les MPR</p>
      <p>read-the-mgd=Read the MGD</p>
      <p>
        register-for-access=Register for access to work sheets, updates and
        notifications, and online material.
      </p>
      <p>
        register-for-access=Registrarse para acceder a las fichas, las
        actualizaciones, las notificaciones, y el material en línea
      </p>
      <p>
        register-for-access=S’inscrire pour accéder aux fiches, aux mises à
        jour, aux notifications et au matériel en ligne
      </p>
      <p>
        related-concepts=Conceptos relacionados
      </p>
      <p>
        related-concepts=Concepts apparentés
      </p>
      <p>
        related-concepts=Related Concepts
      </p>
      <p>related-links=Liens apparentés</p>
      <p>related-links=Related Links</p>
      <p>
        related-links=Vínculos relacionados
      </p>
      <p>
        related-resources-tools=Herramientas
      </p>
      <p>
        related-resources-tools=Recursos relacionados
      </p>
      <p>
        related-resources-tools=Related Resources/Tools
      </p>
      <p>
        report-by-x=Autheur {0}
      </p>
      <p>report-by-x=Autor {0}</p>
      <p>
        report-by-x=by {0}
      </p>
      <p>report-mrv=Ver informe MRV</p>
      <p>
        report-mrv=View MRV Report
      </p>
      <p>report-mrv=Voir le rapport MNV</p>

      <p>reporting-verification=Notification + Vérification</p>
      <p>
        reporting-verification=Reporte + Verificación
      </p>
      <p>
        response=Response
      </p>
      <p>response=Respuesta</p>
      <p>
        response=Réponse
      </p>
      <p>screenname-box=Identifiant</p>
      <p>
        screenname-box=Nombre usuario
      </p>
      <p>screenname-box=Screen name</p>

      <p>search-the-mgd=Consulter les MPR</p>
      <p>search-the-mgd=Explorar el DMO</p>
      <p>search-the-mgd=Search the MGD</p>
      <p>show=Montrer</p>
      <p>show=Mostrar</p>
      <p>show=show</p>
      <p>signed-in-as-x=Está registrado como</p>
      <p>signed-in-as-x=Vous êtes connecté comme</p>

      <p>signed-in-as-x=You are signed in as {0}</p>
      <p>status=Estado</p>

      <p>status=Status</p>
      <p>status=État</p>
      <p>summary=Resumen</p>
      <p>
        summary=Résumé
      </p>
      <p>summary=Summary</p>
      <p>switch-box=Cambiar</p>
      <p>switch-box=Changer</p>
      <p>switch-box=switch</p>
      <p>
        tags=Balises
      </p>
      <p>tags=Etiquetas</p>
      <p>tags=Tags</p>
      <p>
        text-box=Texto
      </p>
      <p>text-box=text</p>
      <p>text-box=texte</p>
      <p>
        text=Texto
      </p>
      <p>text=text</p>
      <p>text=texte</p>
      <p>
        the-value-being-validated=El valor que se está validando
      </p>
      <p>
        the-value-being-validated=La valeur en cours de validation
      </p>
      <p>
        the-value-being-validated=The value being validated
      </p>
      <p>
        theme-completion=Finalisation du thème
      </p>
      <p>
        theme-completion=Finalización del Tema
      </p>
      <p>theme-completion=Theme Completion</p>
      <p>theme-concept=Tema</p>
      <p>theme-concept=Theme / Concept</p>
      <p>theme-concept=concepto</p>
      <p>themes-complete=Temas completados</p>
      <p>themes-complete=Themes Complete</p>
      <p>
        themes-complete=Thèmes complétés
      </p>
      <p>
        this-field-does-not-have-any-specific-validation=This field does not
        have any specific validation
      </p>
      <p>this-field-is-mandatory=Ce champ est obligatoire</p>
      <p>this-field-is-mandatory=Este campo es obligatorio</p>
      <p>this-field-is-mandatory=This field is mandatory</p>
      <p>training-covered=Covered</p>
      <p>training-covered=Incluida</p>

      <p>training-covered=Incluse</p>
      <p>training-identified=Capacitación identificada</p>
      <p>training-identified=Formation identifiée</p>
      <p>
        training-identified=Training Identified
      </p>
      <p>
        training-required=Capacitación necesaria
      </p>
      <p>
        training-required=Formation nécessaire
      </p>
      <p>
        training-required=Training Required
      </p>
      <p>type=Tipo</p>
      <p>
        type=type
      </p>
      <p>type=type</p>
      <p>url-box=Page URL</p>
      <p>
        url-box=URL de la page
      </p>
      <p>url-box=URL de la página</p>
      <p>
        user-profile=Perfil del usuario
      </p>
      <p>user-profile=Profil de l’utilisateur</p>
      <p>user-profile=User Profile</p>
      <p>
        userid-box=Identifiant
      </p>
      <p>userid-box=User ID</p>
      <p>
        userid-box=Usuario
      </p>
      <p>validation=Validación</p>
      <p>
        validation=Validation
      </p>
      <p>validation=validation</p>
      <p>
        web-application=Aplicación
      </p>
      <p>web-application=Application</p>
      <p>
        web-application=Application
      </p>
      <p>work-through-mrv-themes=Analizar los Temas de MRV</p>
      <p>work-through-mrv-themes=Analyser les thèmes de MNV</p>
      <p>work-through-mrv-themes=Work through MRV Themes</p>
    </v-flex>
  </v-layout>
</template>
