<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <v-card>
        <v-card-title class="headline">
          MGD Content
        </v-card-title>
        <v-card-text>
          <mgdContent />
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import mgdContent from '~/components/mgdContent.vue'

export default {
  components: {
    mgdContent
  }
}
</script>
