<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <v-card>
        <v-card-title class="headline">
          Pyramids
        </v-card-title>
        <v-card-text>
          <pyramidAll />
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import pyramidAll from '~/components/pyramidAll.vue'

export default {
  components: {
    pyramidAll
  }
}
</script>
