<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <v-card>
        <v-card-title class="headline">
          Related Concepts
        </v-card-title>
        <v-card-text>
          <navRelatedConcepts />
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import navRelatedConcepts from '~/components/navRelatedConcepts.vue'

export default {
  components: {
    navRelatedConcepts
  }
}
</script>
