<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <v-card>
        <v-card-title class="headline">
          Theme Selection
        </v-card-title>
        <v-card-text>
          <navThemeItem />
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import navThemeItem from '~/components/navThemeItem.vue'

export default {
  components: {
    navThemeItem
  }
}
</script>
